/*!
* Copyright 2019-2020 The Go Authors. All rights reserved.
* Use of this source code is governed by a BSD-style
* license that can be found in the LICENSE file.
*/

.UnitMeta {
  display: grid;
  gap: 1rem;
  grid-template-columns: 100%;
  white-space: nowrap;
}
.UnitMeta-details,
.UnitMeta-links {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  gap: 1rem;
}
.UnitMeta-repo {
  align-items: center;
  display: flex;
}
.UnitMeta-repo a {
  overflow: hidden;
  text-overflow: ellipsis;
}
.UnitMeta-linkSpacer {
  display: none;
}
@media (min-width: 50rem) {
  .UnitMeta {
    grid-template-columns: max-content auto max-content;
  }
  .UnitMeta-details,
  .UnitMeta-links {
    flex-direction: row;
  }
  .UnitMeta-linkSpacer {
    display: initial;
  }
}
@media (min-width: 112rem) {
  :root[data-layout='responsive'] .UnitMeta {
    grid-template-columns: 100%;
  }
  :root[data-layout='responsive'] .UnitMeta-details,
  :root[data-layout='responsive'] .UnitMeta-links {
    flex-direction: column;
    white-space: nowrap;
  }
  :root[data-layout='responsive'] .UnitMeta-linkSpacer {
    display: none;
  }
}
