/*!
* Copyright 2021 The Go Authors. All rights reserved.
* Use of this source code is governed by a BSD-style
* license that can be found in the LICENSE file.
*/

.JumpDialog-body {
  height: 12rem;
  overflow-y: scroll;
}
.JumpDialog-list {
  display: flex;
  flex-direction: column;
}
.JumpDialog-input {
  width: 100%;
}
.JumpDialog a {
  padding: 0.25rem;
  text-decoration: none;
}
.JumpDialog .JumpDialog-active {
  background-color: var(--turq-dark);
  color: var(--white);
}

.ShortcutsDialog-key {
  text-align: right;
}
.ShortcutsDialog table {
  padding: 0 1rem;
}

.ShortcutsDialog td {
  padding-bottom: 0.5rem;
}
