<!--
  Copyright 2021 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "header"}}
  <header class="go-Header{{if .AllowWideContent}} go-Header--full{{end}} js-siteHeader">
    <div class="go-Header-inner go-Header-inner--dark">
      <nav class="go-Header-nav">
        <a href="{{if .LocalMode}}/{{else}}https://go.dev/{{end}}" class="js-headerLogo" data-gtmc="nav link"
            data-test-id="go-header-logo-link" role="heading" aria-level="1">
          <img class="go-Header-logo" src="/static/shared/logo/go-white.svg" alt="Go">
        </a>
         <div class="skip-navigation-wrapper">
            <a class="skip-to-content-link" aria-label="Skip to main content" href="#main-content"> Skip to Main Content </a>
          </div>
        <div class="go-Header-rightContent">
          {{template "symbol_search_bar" .}}
          <ul class="go-Header-menu">
            <li class="go-Header-menuItem">
              <a class="js-desktop-menu-hover" href="#" data-gtmc="nav link">
                Why Go
                <img class="go-Icon" height="24" width="24" src="/static/shared/icon/arrow_drop_down_gm_grey_24dp.svg" alt="submenu dropdown icon">
              </a>
              <ul class="go-Header-submenu go-Header-submenu--why js-desktop-submenu-hover" aria-label="submenu">
                  <li class="go-Header-submenuItem">
                    <div>
                      <a href="https://go.dev/solutions#case-studies">
                        </span>Case Studies</span>
                      </a>
                    </div>
                    <p>Common problems companies solve with Go</p>
                  </li>
                  <li class="go-Header-submenuItem">
                    <div>
                      <a href="https://go.dev/solutions#use-cases">
                        </span>Use Cases</span>
                      </a>
                    </div>
                    <p>Stories about how and why companies use Go</p>
                  </li>
                  <li class="go-Header-submenuItem">
                    <div>
                      <a href="https://go.dev/security/policy/">
                        </span>Security Policy</span>
                      </a>
                    </div>
                    <p>How Go can help keep you secure by default</p>
                  </li>
              </ul>
            </li>
            <li class="go-Header-menuItem">
              <a href="https://go.dev/learn/" data-gtmc="nav link">Learn</a>
            </li>
            <li class="go-Header-menuItem">
              <a class="js-desktop-menu-hover" href="#" data-gtmc="nav link">
                Docs
                <img class="go-Icon" height="24" width="24" src="/static/shared/icon/arrow_drop_down_gm_grey_24dp.svg" alt="submenu dropdown icon">
              </a>
              <ul class="go-Header-submenu go-Header-submenu--docs js-desktop-submenu-hover" aria-label="submenu">
                <li class="go-Header-submenuItem">
                  <div>
                    <a href="https://go.dev/doc/effective_go">
                      <span>Effective Go</span>
                    </a>
                  </div>
                  <p>Tips for writing clear, performant, and idiomatic Go code</p>
                </li>
                <li class="go-Header-submenuItem">
                  <div>
                    <a href="https://go.dev/doc/">
                      <span>Go User Manual</span>
                    </a>
                  </div>
                  <p>A complete introduction to building software with Go</p>
                </li>
                <li class="go-Header-submenuItem">
                  <div>
                    <a href="https://pkg.go.dev/std">
                      <span>Standard library</span>
                    </a>
                  </div>
                  <p>Reference documentation for Go's standard library</p>
                </li>
                <li class="go-Header-submenuItem">
                  <div>
                    <a href="https://go.dev/doc/devel/release">
                      <span>Release Notes</span>
                    </a>
                  </div>
                  <p>Learn what's new in each Go release</p>
                </li>
              </ul>
            </li>
            <li class="go-Header-menuItem go-Header-menuItem--active">
              <a href="/" data-gtmc="nav link">Packages</a>
            </li>
            <li class="go-Header-menuItem">
              <a class="js-desktop-menu-hover" href="#" data-gtmc="nav link">
                Community
                <img class="go-Icon" height="24" width="24" src="/static/shared/icon/arrow_drop_down_gm_grey_24dp.svg" alt="submenu dropdown icon">
              </a>
              <ul class="go-Header-submenu go-Header-submenu--community js-desktop-submenu-hover" aria-label="submenu">
                <li class="go-Header-submenuItem">
                  <div>
                    <a href="https://go.dev/talks/">
                      <span>Recorded Talks</span>
                    </a>
                  </div>
                  <p>Videos from prior events</p>
                </li>
                <li class="go-Header-submenuItem">
                  <div>
                    <a href="https://www.meetup.com/pro/go">
                      <span>Meetups</span>
                      <i class="material-icons">
                        <img class="go-Icon" height="24" width="24"
                            src="/static/shared/icon/launch_gm_grey_24dp.svg" alt="">
                      </i>
                    </a>
                  </div>
                  <p>Meet other local Go developers</p>
                </li>
                <li class="go-Header-submenuItem">
                  <div>
                    <a href="https://github.com/golang/go/wiki/Conferences">
                      <span>Conferences</span>
                      <i class="material-icons">
                        <img class="go-Icon" height="24" width="24"
                            src="/static/shared/icon/launch_gm_grey_24dp.svg" alt="">
                      </i>
                    </a>
                  </div>
                  <p>Learn and network with Go developers from around the world</p>
                </li>
                <li class="go-Header-submenuItem">
                  <div>
                    <a href="https://go.dev/blog">
                      <span>Go blog</span>
                    </a>
                  </div>
                  <p>The Go project's official blog.</p>
                </li>
                <li class="go-Header-submenuItem">
                  <div>
                    <a href="https://go.dev/help">
                      <span>Go project</span>
                    </a>
                  </div>
                  <p>Get help and stay informed from Go</p>
                </li>
                <li class="go-Header-submenuItem">
                  <div>
                    Get connected
                  </div>
                  <p></p>
                  <div class="go-Header-socialIcons">
                      <a class="go-Header-socialIcon" aria-label="Get connected with google-groups (Opens in new window)" href="https://groups.google.com/g/golang-nuts" ><img src="/static/shared/logo/social/google-groups.svg" /></a>
                      <a class="go-Header-socialIcon" aria-label="Get connected with github (Opens in new window)" href="https://github.com/golang"><img src="/static/shared/logo/social/github.svg" /></a>
                      <a class="go-Header-socialIcon" aria-label="Get connected with twitter (Opens in new window)" href="https://twitter.com/golang"><img src="/static/shared/logo/social/twitter.svg" /></a>
                      <a class="go-Header-socialIcon" aria-label="Get connected with reddit (Opens in new window)" href="https://www.reddit.com/r/golang/"><img src="/static/shared/logo/social/reddit.svg" /></a>
                      <a class="go-Header-socialIcon" aria-label="Get connected with slack (Opens in new window)" href="https://invite.slack.golangbridge.org/"><img src="/static/shared/logo/social/slack.svg" /></a>
                      <a class="go-Header-socialIcon" aria-label="Get connected with stack-overflow (Opens in new window)" href="https://stackoverflow.com/collectives/go"><img src="/static/shared/logo/social/stack-overflow.svg" /></a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
          <button class="go-Header-navOpen js-headerMenuButton go-Header-navOpen--white" data-gtmc="nav button" aria-label="Open navigation">
          </button>
        </div>
      </nav>
    </div>
  </header>
  <aside class="go-NavigationDrawer js-header">
    <nav class="go-NavigationDrawer-nav">
      <div class="go-NavigationDrawer-header">
        <a href="https://go.dev/">
          <img class="go-NavigationDrawer-logo" src="/static/shared/logo/go-blue.svg" alt="Go.">
        </a>
      </div>
      <ul class="go-NavigationDrawer-list">
          <li class="go-NavigationDrawer-listItem js-mobile-subnav-trigger go-NavigationDrawer-hasSubnav">
            <a href="#">
              <span>Why Go</span>
              <i class="material-icons">
                <img class="go-Icon" height="24" width="24"
                  src="/static/shared/icon/navigate_next_gm_grey_24dp.svg" alt="">
              </i>
            </a>

            <div class="go-NavigationDrawer go-NavigationDrawer-submenuItem">
              <div class="go-NavigationDrawer-nav">
                <div class="go-NavigationDrawer-header">
                  <a href="#">
                    <i class="material-icons">
                      <img class="go-Icon" height="24" width="24"
                        src="/static/shared/icon/navigate_before_gm_grey_24dp.svg" alt="">
                      </i>
                      Why Go
                  </a>
                </div>
                <ul class="go-NavigationDrawer-list">
                  <li class="go-NavigationDrawer-listItem">
                    <a href="https://go.dev/solutions#case-studies">
                      Case Studies
                    </a>
                  </li>
                  <li class="go-NavigationDrawer-listItem">
                    <a href="https://go.dev/solutions#use-cases">
                      Use Cases
                    </a>
                  </li>
                  <li class="go-NavigationDrawer-listItem">
                    <a href="https://go.dev/security/policy/">
                      Security Policy
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="go-NavigationDrawer-listItem">
            <a href="https://go.dev/learn/">Learn</a>
          </li>
          <li class="go-NavigationDrawer-listItem js-mobile-subnav-trigger go-NavigationDrawer-hasSubnav">
            <a href="#">
              <span>Docs</span>
              <i class="material-icons">
                <img class="go-Icon" height="24" width="24"
                  src="/static/shared/icon/navigate_next_gm_grey_24dp.svg" alt="">
              </i>
            </a>

            <div class="go-NavigationDrawer go-NavigationDrawer-submenuItem">
              <div class="go-NavigationDrawer-nav">
                <div class="go-NavigationDrawer-header">
                  <a href="#"><i class="material-icons">
                    <img class="go-Icon" height="24" width="24"
                      src="/static/shared/icon/navigate_before_gm_grey_24dp.svg" alt="">
                    </i>
                    Docs
                  </a>
                </div>
                <ul class="go-NavigationDrawer-list">
                  <li class="go-NavigationDrawer-listItem">
                    <a href="https://go.dev/doc/effective_go">
                      Effective Go
                    </a>
                  </li>
                  <li class="go-NavigationDrawer-listItem">
                    <a href="https://go.dev/doc/">
                      Go User Manual
                    </a>
                  </li>
                  <li class="go-NavigationDrawer-listItem">
                    <a href="https://pkg.go.dev/std">
                      Standard library
                    </a>
                  </li>
                  <li class="go-NavigationDrawer-listItem">
                    <a href="https://go.dev/doc/devel/release">
                      Release Notes
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="go-NavigationDrawer-listItem go-NavigationDrawer-listItem--active">
            <a href="/">Packages</a>
          </li>
          <li class="go-NavigationDrawer-listItem js-mobile-subnav-trigger go-NavigationDrawer-hasSubnav">
            <a href="#">
              <span>Community</span>
              <i class="material-icons">
                <img class="go-Icon" height="24" width="24"
                  src="/static/shared/icon/navigate_next_gm_grey_24dp.svg" alt="">
              </i>
            </a>
            <div class="go-NavigationDrawer go-NavigationDrawer-submenuItem">
              <div class="go-NavigationDrawer-nav">
                <div class="go-NavigationDrawer-header">
                  <a href="#">
                    <i class="material-icons">
                      <img class="go-Icon" height="24" width="24"
                        src="/static/shared/icon/navigate_before_gm_grey_24dp.svg" alt="">
                    </i>
                    Community
                  </a>
                </div>
                <ul class="go-NavigationDrawer-list">
                  <li class="go-NavigationDrawer-listItem">
                    <a href="https://go.dev/talks/">
                      Recorded Talks
                    </a>
                  </li>
                  <li class="go-NavigationDrawer-listItem">
                    <a href="https://www.meetup.com/pro/go">
                      Meetups
                      <i class="material-icons">
                      <img class="go-Icon" height="24" width="24"
                          src="/static/shared/icon/launch_gm_grey_24dp.svg" alt="">
                      </i>
                    </a>
                  </li>
                  <li class="go-NavigationDrawer-listItem">
                    <a href="https://github.com/golang/go/wiki/Conferences">
                      Conferences
                      <i class="material-icons">
                        <img class="go-Icon" height="24" width="24" src="/static/shared/icon/launch_gm_grey_24dp.svg" alt="">
                      </i>
                    </a>
                  </li>
                  <li class="go-NavigationDrawer-listItem">
                    <a href="https://go.dev/blog">
                      Go blog
                    </a>
                  </li>
                  <li class="go-NavigationDrawer-listItem">
                    <a href="https://go.dev/help">
                      Go project
                    </a>
                  </li>
                  <li class="go-NavigationDrawer-listItem">
                    <div>Get connected</div>
                    <div class="go-Header-socialIcons">
                        <a class="go-Header-socialIcon" href="https://groups.google.com/g/golang-nuts"><img src="/static/shared/logo/social/google-groups.svg" /></a>
                        <a class="go-Header-socialIcon" href="https://github.com/golang"><img src="/static/shared/logo/social/github.svg" /></a>
                        <a class="go-Header-socialIcon" href="https://twitter.com/golang"><img src="/static/shared/logo/social/twitter.svg" /></a>
                        <a class="go-Header-socialIcon" href="https://www.reddit.com/r/golang/"><img src="/static/shared/logo/social/reddit.svg" /></a>
                        <a class="go-Header-socialIcon" href="https://invite.slack.golangbridge.org/"><img src="/static/shared/logo/social/slack.svg" /></a>
                        <a class="go-Header-socialIcon" href="https://stackoverflow.com/collectives/go"><img src="/static/shared/logo/social/stack-overflow.svg" /></a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
      </ul>
    </nav>
  </aside>
  <div class="go-NavigationDrawer-scrim js-scrim" role="presentation"></div>
{{end}}

{{define "symbol_search_bar"}}
<div class="go-SearchForm js-searchForm">
  <form
    class="go-InputGroup go-ShortcutKey go-SearchForm-form"
    action="/search"
    data-shortcut="/"
    data-shortcut-alt="search"
    data-gtmc="search form"
    aria-label="Search for a package"
    role="search"
  >
    <input name="q" class="go-Input js-searchFocus" aria-label="Search for a package" type="search"
        autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"
        placeholder="{{.SearchPrompt}}"
        value="{{.Query}}" />
    <input name="m" value="{{.SearchMode}}" hidden>
    <button class="go-Button go-Button--inverted" aria-label="Submit search">
      <img
        class="go-Icon"
        height="24"
        width="24"
        src="/static/shared/icon/search_gm_grey_24dp.svg"
        alt=""
      />
    </button>
  </form>
  <button class="go-SearchForm-expandSearch js-expandSearch" data-gtmc="nav button"
      aria-label="Open search" data-test-id="expand-search">
    <img class="go-Icon go-Icon--inverted" height="24" width="24"
        src="/static/shared/icon/search_gm_grey_24dp.svg" alt="">

  </button>
</div>
{{end}}
