<!--
  Copyright 2021 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "title"}}
  <title>Vulnerability Reports - Go Packages</title>
{{end}}

{{define "main-styles"}}
  <link href="/static/frontend/vuln/list/list.min.css?version={{.AppVersionLabel}}" rel="stylesheet">
{{end}}

{{define "main-content"}}
  <h1 class="Vuln-title">Vulnerability Reports</h1>
  {{range .Entries}}
    <h2 class="VulnList-title">
      <a href="/vuln/{{.ID}}">{{.ID}}</a>
    </h2>
    <div class="VulnList-details">
      {{template "vuln-details" .}}
    </div>
  {{end}}
{{end}}
