<!--
  Copyright 2020 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{if or .Doc .Consts .Vars .Funcs .Types}}
	{{template "sidenav.tmpl" .}}
	{{template "sidenav-mobile.tmpl" .}}
{{end}}
{{template "body.tmpl" .}}
