<!--
  Copyright 2020 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "unit-doc"}}
  <div class="UnitDoc">
    <h2 class="UnitDoc-title" id="section-documentation">
      <img class="go-Icon" height="24" width="24" src="/static/shared/icon/code_gm_grey_24dp.svg" alt="">
      Documentation
      <a class="UnitDoc-idLink" href="#section-documentation" aria-label="Go to Documentation">¶</a>
    </h2>
    {{template "unit-build-context" .}}
    <div class="Documentation js-documentation">
      {{if .DocBody.String}}
        {{.DocBody}}
      {{else}}
        <div class="UnitDoc-emptySection">
          <img width="1200" height="945" src="/static/shared/gopher/airplane-1200x945.svg" alt="The Go Gopher"/>
          <p>There is no documentation for this package.</p>
        </div>
      {{end}}
    </div>
  </div>
{{end}}
