<!--
  Copyright 2020 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "unit-files"}}
  <div class="UnitFiles js-unitFiles">
    <h2 class="UnitFiles-title" id="section-sourcefiles">
      <img class="go-Icon" height="24" width="24" src="/static/shared/icon/insert_drive_file_gm_grey_24dp.svg" alt="">
      Source Files
      <a class="UnitFiles-idLink" href="#section-sourcefiles" aria-label="Go to Source Files">¶</a>
    </h2>
    <div class="UnitFiles-titleLink">
      <a href="{{.SourceURL}}" target="_blank" rel="noopener">View all Source files</a>
    </div>
    <div>
      <ul class="UnitFiles-fileList">
        {{- range .SourceFiles -}}
          <li>
            <a href="{{.URL}}" target="_blank" rel="noopener" title="{{.Name}}">{{.Name}}</a>
          </li>
        {{- end -}}
      </ul>
    </div>
  </div>
{{end}}
