/*!
 * Copyright 2020 The Go Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

.UnitOutline-jumpTo {
  display: flex;
  margin-bottom: 1rem;
}

.UnitOutline-jumpTo button {
  align-items: center;
  background-color: var(--color-background);
  border: var(--border);
  border-radius: 0.25rem;
  color: var(--color-text-subtle);
  cursor: pointer;
  height: 2rem;
  padding-left: 1rem;
  text-align: left;
  width: 100%;
}

.UnitOutline-jumpTo button:hover:not([disabled]) {
  border-color: var(--color-border);
}

.UnitOutline-jumpToInput:disabled {
  background-color: var(--gray-9);
}
