/*!
 * Copyright 2021 The Go Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

.go-TabNav {
  margin: 0 0 0.5rem 0;
}
.go-TabNav ul {
  display: flex;
  gap: 2rem;
}
.go-TabNav li {
  border-bottom: 0.25rem transparent solid;
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 0.25rem;
}
.go-TabNav li[aria-current] {
  border-color: var(--color-brand-primary);
}
.go-TabNav li:hover {
  border-color: var(--color-brand-primary);
}
.go-TabNav a {
  color: var(--color-text-subtle);
}
.go-TabNav li:hover a {
  text-decoration: none;
}
.go-TabNav li[aria-current] a {
  color: var(--color-text);
}
