<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "symbol_search"}}
  {{$query := .Query}}
  {{range $i, $v := .Results}}
    <div class="SearchSnippet">
      <div class="SearchSnippet-headerContainer">
        <h2 class="SearchSnippet-header">
          <a href="/{{$v.PackagePath}}" data-gtmc="search result" data-gtmv="{{$i}}"
              data-test-id="snippet-title">
            {{$v.Name}}
          </a>
	  <span class="SearchSnippet-header-path">{{$v.PackagePath}}</span>
        </h2>
        {{with .Symbols}}
          <div class="SearchSnippet-symbolContainer">
            <span class="SearchSnippet-symbolHeading">{{.Heading}}</span>
            {{range $i, $v := .Links}}
              <a class="SearchSnippet-symbol" href="/{{$v.Href}}">{{$v.Body}}</a>
            {{end}}
            <span>{{.Suffix}}</span>
          </div>
        {{end}}
      </div>
      <p class="SearchSnippet-synopsis" data-test-id="snippet-synopsis">
        {{$v.Synopsis}}
      </p>
      {{template "search_metadata" $v}}
      {{with .SameModule}}
        <div class="SearchSnippet-sub go-textSubtle">
          <span>{{.Heading}}</span>
          {{range $i, $v := .Links}}
            <a href="/{{$v.Href}}" data-gtmc="search result same module" data-gtmv="{{$i}}">{{$v.Body}}</a>
          {{end}}
          <span>{{.Suffix}}</span>
        </div>
      {{end}}
      {{with .OtherMajor}}
        <div class="SearchSnippet-sub go-textSubtle">
          <span>{{.Heading}}</span>
          {{range $i, $v := .Links}}
            <a href="/{{$v.Href}}" data-gtmc="search result lower major" data-gtmv="{{$i}}">{{$v.Body}}</a>
          {{end}}
        </div>
      {{end}}
    </div> <!-- SearchSnippet -->
  {{end}}
{{end}}
