<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->
{{define "symbol_search"}}
  {{$query := .Query}}
  {{range $i, $r := .Results}}
    <div class="SearchSnippet">
      <div class="SearchSnippet-headerContainer">
        <h2 class="SearchSnippet-header">
          <span class="SearchSnippet-symbolKind">{{.SymbolKind}}</span>
          <a href="{{.SymbolLink}}" data-gtmc="search result" data-gtmv="{{$i}}"
              data-test-id="snippet-title">
            {{.SymbolName}}
          </a>
          <span class="SearchSnippet-symbolPackagePath SearchSnippet-infoLabel go-textSubtle">package: </span>
          <a href="/{{$r.PackagePath}}"
             class="SearchSnippet-header-path">{{$r.PackagePath}}</a>
        </h2>
      </div>
      <div class="SearchSnippet-infoLabel go-textSubtle" data-test-id="snippet-synopsis">{{$r.Synopsis}}</div>
      <pre class="SearchSnippet-symbolCode">{{.SymbolSynopsis}}</pre>
      {{template "search_metadata" $r}}
    </div> <!-- SearchSnippet -->
  {{end}}
{{end}}
