/*!
 * Copyright 2021 The Go Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

.go-Breadcrumb ol {
  line-height: 1.5rem;
  white-space: initial;
}

.go-Breadcrumb li {
  align-items: center;
  color: var(--color-text-subtle);
  display: inline-flex;
  font-size: 0.875rem;
}

.go-Breadcrumb li:not(:last-child)::after {
  content: '>';
  padding: 0 0.5rem;
}

.go-Breadcrumb li:last-child > a {
  color: var(--color-text-subtle);
}

.go-Breadcrumb li > .go-Clipboard {
  margin: 0 0.5rem;
}
