/*!
 * Copyright 2020-2021 The Go Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

.UnitHeader-titleHeading {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.UnitHeader-overflowContainer {
  display: none;
  height: 1.5rem;
  position: absolute;
  right: 0;
  width: 1.5rem;
}

.go-Main-header[data-fixed] .UnitHeader-overflowContainer {
  display: block;
}
@media screen and (min-width: 80rem) {
  .go-Main-header[data-fixed] .UnitHeader-overflowContainer {
    display: none;
  }
}

.UnitHeader-overflowImage {
  fill: var(--gray-3);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.UnitHeader-overflowSelect {
  appearance: none;
  background: transparent;
  border: 0;
  color: transparent;
  cursor: pointer;
  font-size: 1rem;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.UnitHeader-overflowSelect option {
  color: var(--color-text);
}

.UnitHeader-versionBadge,
.DetailsHeader-badge {
  border-radius: unset;
  color: var(--color-text-inverted);
  font-size: 0.7rem;
  line-height: 0.85rem;
  margin: -1rem 0 -1rem 0.5rem;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  top: -0.0625rem;
}

.UnitHeader-versionBadge--unknown,
.DetailsHeader-badge--unknown {
  display: none;
}

a.UnitHeader-backLink {
  color: var(--color-text);
  display: block;
  font-size: 1rem;
  position: absolute;
  right: 0.625rem;
  top: 1.25rem;
}

.UnitHeader-backLink img {
  vertical-align: middle;
}

.DetailsHeader-badge--notAtLatest a {
  display: none;
}

.DetailsHeader-badge--notAtLatest span.DetailsHeader-span--latest {
  display: none;
}

.DetailsHeader-badge--notAtLatest .UnitMetaDetails-icon {
  z-index: 1;
}

.DetailsHeader-badge--notAtLatest .UnitMetaDetails-toggletipBubble {
  color: var(--black);
  text-transform: none;
}

.DetailsHeader-span--notAtLatest .UnitMetaDetails-toggletip {
  height: 0;
}

.DetailsHeader-span--notAtLatest .UnitMetaDetails-toggletip button {
  height: 0.8125rem;
  line-height: 0;
}

.DetailsHeader-span--notAtLatest .UnitMetaDetails-toggletip img {
  vertical-align: middle;
}

.DetailsHeader-badge--goToLatest span {
  display: none;
}

.DetailsHeader-badge--goToLatest span.DetailsHeader-span--goToLatest {
  display: initial;
}

.DetailsHeader-badge--unknown a {
  display: none;
}

.DetailsHeader-badge--unknown span {
  display: none;
}

.DetailsHeader-badge {
  border-radius: 1rem;
  display: inline-block;
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
  position: relative;
  top: -0.125rem;
}

.DetailsHeader-badge--latest a {
  display: none;
}

.DetailsHeader-badge--goToLatest a:hover {
  text-decoration: none;
}

.DetailsHeader-badge--latest span.DetailsHeader-span--notAtLatest {
  display: none;
}

.DetailsHeader-badge--goToLatest,
.DetailsHeader-badge--latest,
.DetailsHeader-badge--notAtLatest {
  margin-left: 0.25rem;
}
