/*!
 * Copyright 2021 The Go Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

.License {
  margin-bottom: 1rem;
}

.License > h2 {
  margin-bottom: 1rem;
}

.License > p {
  margin-bottom: 0.5rem;
}

.License-contents {
  border: var(--border);
  border-radius: 0.1875rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin: 0;
  overflow-x: auto;
  padding: 1.5rem;
  tab-size: 4;
}

.License-source {
  font-size: 0.875rem;
  padding-top: 0.5rem;
}

.Disclaimer-link {
  font-style: italic;
}
