<!--
  Copyright 2020 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "robots"}}
  <meta name="robots" content="noindex">
{{end}}

{{define "main-styles"}}
  <link href="/static/frontend/unit/licenses/licenses.min.css?version={{.AppVersionLabel}}" rel="stylesheet">
{{end}}

{{define "main-header"}}
  {{template "unit-header" .}}
{{end}}

{{define "main-content"}}
  {{block "licenses" .Details}}{{end}}
{{end}}

{{define "licenses"}}
  {{range .Licenses}}
    <section class="License" id="{{.Anchor}}">
      <h2 class="go-textTitle">
        <div id="#{{.Anchor}}">{{range $i, $e := .Types}}{{if $i}}, {{end}}{{$e}}{{end}}</div>
      </h2>
      <p>This is not legal advice. <a href="/license-policy">Read disclaimer.</a></p>
      <pre class="License-contents">{{printf "%s" .Contents}}</pre>
    </section>
    <div class="License-source go-textSubtle">Source: {{.Source}}</div>
  {{end}}
{{end}}
