/*!
 * Copyright 2021 The Go Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

.go-Tooltip {
  border-radius: var(--border-radius);
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.go-Tooltip > summary {
  list-style: none;
}

.go-Tooltip > summary::-webkit-details-marker,
.go-Tooltip > summary::marker {
  display: none;
}

.go-Tooltip > summary > img {
  vertical-align: text-bottom;
}

.go-Tooltip p {
  background: var(--color-background) 80%;
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--color-text);
  font-size: 0.75rem;
  letter-spacing: 0.0187rem;
  line-height: 1rem;
  padding: 0.5rem;
  position: absolute;
  top: 1.5rem;
  white-space: normal;
  width: 12rem;
  z-index: 100;
}
