/*!
 * Copyright 2020 The Go Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

.UnitFiles {
  margin-bottom: 2rem;
}
.UnitFiles-titleLink {
  position: relative;
}
.UnitFiles-titleLink a {
  bottom: 1rem;
  font-size: 0.875rem;
  position: absolute;
  right: 0;
}
.UnitFiles-titleLink a::after {
  background-image: url(/static/legacy/img/icon-launch.svg);
  background-repeat: no-repeat;
  background-size: 0.875rem 1.25rem;
  content: '';
  display: inline-block;
  height: 1rem;
  left: 0.3125rem;
  position: relative;
  top: 0.125rem;
  width: 1rem;
}
.UnitFiles h2 a.UnitFiles-idLink,
.UnitFiles summary a {
  opacity: 0;
}
.UnitFiles h2:hover a,
.UnitFiles summary:focus a {
  opacity: 1;
}
.UnitFiles-title {
  border-bottom: 0.0625rem solid var(--gray-8);
  font-size: 1.375rem;
  margin: 0.5rem 0 0 0;
  padding-bottom: 1rem;
}
.UnitFiles-title img {
  height: 1.25rem;
  margin: auto 1rem auto 0;
  width: auto;
}
.UnitFiles-fileList {
  column-count: 5;
  column-width: 12.5rem;
  line-height: 1.5rem;
  list-style: none;
  padding-left: 0;
  word-break: break-all;
}
