<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "empty-content"}}
  <div>
    <img class="EmptyContent-gopher" width="945" height="1200"
        src="/static/shared/gopher/airplane-1200x945.svg" alt="The Go Gopher">
    <h3 class="EmptyContent-message">{{.}}</h3>
  </div>
{{end}}
