/*!
 * Copyright 2020 The Go Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

.go-GopherMessage img {
  display: block;
  height: 15rem;
  margin: 0 auto;
  padding: 1.25rem 0;
  width: 15rem;
}

.go-GopherMessage p {
  font-weight: 600;
  margin: auto;
  text-align: center;
}
