<!--
  Copyright 2020 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "title"}}<title>{{.MessageData}} · pkg.go.dev</title>{{end}}

{{define "main"}}
  <main class="go-Container">
    <div class="go-Content go-Content--center">
      <img class="Error-gopher" width="945" height="1200"
          src="/static/_gopher/airplane-1200x945.svg" alt="The Go Gopher">
      {{template "message" .MessageData}}
    </div>
  </main>
{{end}}
