<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "main_content"}}
<div class="Container">
  <div class="Content">
    <h1 class="Content-header">Copyright</h1>
    <p>
      Except as <a href="https://developers.google.com/terms/site-policies#restrictions">noted</a>, the contents of this site are licensed under the <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>, and code is licensed under a <a href="https://golang.org/LICENSE">BSD license</a>.
    </p>
  </div>
</div>
{{end}}
