<!--
	Copyright 2019 The Go Authors. All rights reserved.
	Use of this source code is governed by a BSD-style
	license that can be found in the LICENSE file.
-->
{{define "main_content"}}
<div class="Container">
 {{$header := .PackageHeader}}
 <header>
   <h1>{{$header.Path}}</h1>
   <p>
     <strong>{{$header.Version}} </strong><span>({{$header.CommitTime}})</span>
     <span>|</span>
     {{range $i, $e := $header.Licenses -}}{{if $i}}, {{end}}
       <a href="/{{$header.Path}}@{{$header.Version}}?tab=licenses#{{.Anchor}}"><strong>{{$e.Type}}</strong></a>
     {{- else -}}
       <span>No license files detected</span>
     {{- end}}
     <a href="/license-policy/" class="Disclaimer-link"><em>not legal advice</em></a>
   </p>
 </header>

 <ul class="ModulesNav">
   {{range .Tabs}}
     <li class="{{if eq .Name $.Settings.Name}}active {{end}}ModulesNav-tab">
       <a href="/{{$header.Path}}@{{$header.Version}}?tab={{.Name}}" class="ModulesNav-link">{{.DisplayName}}</a>
     </li>
   {{end}}
 </ul>

 <div class="Content">
  {{if .CanShowDetails -}}
    {{template "details_content" .Details}}
  {{- else}}
    <h2>“{{.Settings.DisplayName}}” hidden due to license restrictions.</h2>
  {{end}}
  </div>
</div>
{{end}}
