<!--
        Copyright 2019 The Go Authors. All rights reserved.
        Use of this source code is governed by a BSD-style
        license that can be found in the LICENSE file.
-->
{{define "main_content"}}
<div class="Container">
  {{$header := .Header}}
  {{$namespace := .Namespace}}
  <header class="DetailsHeader">
    <span>{{.BreadcrumbPath}}</span>
    <div class="DetailsHeader-main">
      <h1 class="DetailsHeader-title">{{.Title}}</h1>
      <div class="DetailsHeader-version">{{$header.Version}}</div>
      {{if .IsLatest}}
        <div class="DetailsHeader-badge DetailsHeader-latest">Latest</div>
      {{else}}
        <div class="DetailsHeader-badge DetailsHeader-goToLatest">
      <a href="/{{$header.Path}}">Go to latest</a>
    </div>
      {{end}}
    </div>
    <div class="InfoLabel">
      <span class="InfoLabel-title">Published:</span>
      <strong>{{$header.CommitTime}}</strong>
      <span class="InfoLabel-divider">|</span>
      <span class="InfoLabel-title">{{pluralize (len $header.Licenses) "License"}}: </span>
      <span>
        {{range $i, $e := $header.Licenses -}}{{if $i}}, {{end}}
          <a href="{{$header.URL}}?tab=licenses#{{.Anchor}}">{{$e.Type}}</a>
        {{- else -}}
          <span>None detected</span>
          <a href="/license-policy" class="Disclaimer-link"><em>not legal advice</em></a>
        {{- end}}
      </span>
      {{if eq $namespace "pkg"}}
        <span class="InfoLabel-divider">|</span>
        <span class="InfoLabel-title">Module: </span>
        <span>
          <a href="{{$header.Module.URL}}">
            {{if eq $header.Module.Path "std"}}
              Standard library
            {{else}}
              {{$header.Module.Path}}
            {{end}}
          </a>
        </span>
      {{end}}
    </div>
  </header>

  <nav class="DetailsNav js-modulesNav">
    <ul class="DetailsNav-list" role="tablist">
      {{range .Tabs}}
        <li class="DetailsNav-tab{{if eq .Name $.Settings.Name}} selected{{end}}" role="presentation">
          {{if eq .Name $.Settings.Name}}
            <a class="DetailsNav-link"
               role="tab"
               aria-selected="true">
          {{else}}
            <a class="DetailsNav-link"
               href="{{$header.URL}}?tab={{.Name}}"
               role="tab"
               aria-selected="false">
          {{end}}
          {{.DisplayName}}
          </a>
        </li>
      {{end}}
    </ul>
  </nav>

  <div class="Content">
    {{if .CanShowDetails -}}
      {{template "details_content" .Details}}
    {{- else}}
      <h2>“{{.Settings.DisplayName}}” hidden due to license restrictions.</h2>
    {{end}}
  </div>
</div>
{{end}}

{{define "post_content"}}
<script nonce="{{.Nonce}}">
const navEl = document.querySelector('.js-modulesNav');
const selectedEl = navEl.querySelector(`[aria-selected='true']`);
if (selectedEl.offsetLeft + selectedEl.offsetWidth > navEl.offsetWidth) {
  navEl.scrollLeft = selectedEl.offsetLeft;
}
</script>
{{end}}
