<!--
        Copyright 2019 The Go Authors. All rights reserved.
        Use of this source code is governed by a BSD-style
        license that can be found in the LICENSE file.
-->

{{define "main_content"}}
  <div class="Container">
    <header class="Directory-header">
      <span>{{.BreadcrumbPath}}</span>
      <h1 class="DetailsHeader-title">Directories</h1>
      {{if .Version}}
        <p class="InfoLabel">
          <strong class="InfoLabel-title">Version:</strong> {{.Version}}
        </p>
      {{end}}
    </header>
    {{if .Packages}}
      <div class="Content">
      {{template "directories" .Packages}}
    {{else}}
      {{template "empty_content" "There are no packages in this directory!"}}
    {{end}}
  </div>
{{end}}
