<!--
    Copyright 2019 The Go Authors. All rights reserved.
    Use of this source code is governed by a BSD-style
    license that can be found in the LICENSE file.
-->

{{define "main_content"}}
<div class="Container">
  <div class="Content">
    <div class="Fetch-container">
      <img class="Fetch-gopher" src="/static/img/gopher-airplane.svg" alt="The Go Gopher">
      <h3 class="Fetch-message js-fetchMessage" aria-live="polite" data-path="{{.MessageData}}">
        Oops! We couldn't find “{{.MessageData}}”.
      </h3>
      <div class="Fetch-loading js-fetchLoading" aria-live="polite">
        <i class="Fetch-dot"></i>
        <i class="Fetch-dot"></i>
        <i class="Fetch-dot"></i>
      </div>
      <p class="Fetch-messageSecondary js-fetchMessageSecondary" aria-live="polite">
        Check that you entered the URL correctly, or request to fetch “{{.MessageData}}”.
      </p>
      <button class="Fetch-button js-fetchButton" aria-live="polite">Fetch</button>
    </div>
  </div>
</div>
{{end}}

{{define "post_content"}}
<script>
  loadScript("/static/js/fetch.min.js");
</script>
{{end}}
