<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "details_content"}}
  <div>
    {{if or .ExternalImportedBy .InternalImportedBy}}
      <h2>Imported by</h2>
      {{if .ExternalImportedBy}}
      <p>
        <b>Known importers: </b>
        <span>{{len .ExternalImportedBy}}</span>
      </p>
      <ul class="ImportedBy-list">
        {{range .ExternalImportedBy}}
          <li><a class="u-breakWord" href="/pkg/{{.}}">{{.}}</a></li>
        {{end}}
      </ul>
      {{end}}

      {{if .InternalImportedBy}}
        <h3>Module: {{.ModulePath}}</h3>
        <ul class="ImportedBy-list">
        {{range .InternalImportedBy}}
          <li><a class="u-breakWord" href="/pkg/{{.}}">{{.}}</a></li>
        {{end}}
        </ul>
      {{end}}
    {{else}}
      {{template "empty_content" "No known importers for this package!"}}
    {{end}}
  </div>
{{end}}
