<!--
	Copyright 2019 The Go Authors. All rights reserved.
	Use of this source code is governed by a BSD-style
	license that can be found in the LICENSE file.
-->

{{define "details_content"}}
  <div>
    <h3> Imports</h3>
    {{if .ExternalImports}}
      <p>
        <b>Imports:</b>
        <span>{{len .ExternalImports}} package(s)</span>
      </p>
      {{range .ExternalImports}}
        <p><a href="/{{.Path}}">{{.Path}}</a></p>
      {{end}}
    {{end}}
    {{if .InternalImports}}
      <h3>Module: {{.ModulePath}}</h3>
      {{range .InternalImports}}
        <p><a href="/{{.Path}}">{{.Path}}</a></p>
      {{end}}
    {{end}}
    {{if .StdLib}}
      <h3>Standard Library</h3>
      {{range .StdLib}}
        <div><a href="https://golang.org/pkg/{{.Path}}">{{.Path}}</a></div>
      {{end}}
    {{end}}
  </div>
{{end}}
