<!--
	Copyright 2019 The Go Authors. All rights reserved.
	Use of this source code is governed by a BSD-style
	license that can be found in the LICENSE file.
-->

{{ define "content" }}
  <div>
    {{ if .Imports  }}
      <h3>Imports</h3>
      {{ range .Imports }}
      	<p>
          <div><b>{{ .Name }}</b></div>
	  <div>{{ .Path }}</div>
      	</p>
      {{ end }}
    {{ end }}

    {{ if .StdLib  }}
      <h3>Standard Library</h3>
      {{ range .StdLib  }}
        <div><a href="https://golang.org/pkg/{{.Path}}">{{ .Path }}</a></div>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
