<!--
	Copyright 2019 The Go Authors. All rights reserved.
	Use of this source code is governed by a BSD-style
	license that can be found in the LICENSE file.
-->

{{define "details_content"}}
  <div>
    <h3>Imported by</h3>
    {{if .ExternalImportedBy}}
      <p>
        <b>Known importers: </b>
        <span>{{len .ExternalImportedBy}} package(s)</span>
      </p>
      {{range .ExternalImportedBy}}
        <p><a href="/{{.}}">{{.}}</a></p>
      {{end}}
    {{end}}

    {{if .InternalImportedBy}}
      <h3>Module: {{.ModulePath}}</h3>
      {{range .InternalImportedBy}}
        <p><a href="/{{.}}">{{.}}</a></p>
      {{end}}
    {{end}}
  </div>
{{end}}
