<!--
	Copyright 2019 The Go Authors. All rights reserved.
	Use of this source code is governed by a BSD-style
	license that can be found in the LICENSE file.
-->

{{ define "content" }}
  <div>
    <h3>Imported by</h3>
    <p><b>Known importers: </b>{{ len .ImportedBy }} packages</p>
    {{ range .ImportedBy }}
      <p><b>{{ .Name }}</b><span> - </span><a href="/{{.Path}}">{{ .Path }}</a></p>
    {{ end }}
  </div>
{{ end }}
