<!--
	Copyright 2019 The Go Authors. All rights reserved.
	Use of this source code is governed by a BSD-style
	license that can be found in the LICENSE file.
-->

{{define "header"}}
  {{/* This ideally would be empty, but you cannot redefine a template with only whitespace or comments. */}}
  <wbr>
{{end}}

{{define "main_content"}}
  <div class="Search">
    <img class="Search-logo" src="/static/img/logo.svg" alt="Go Discovery">
    {{template "search" .}}
  </div>
{{end}}
