<!--
    Copyright 2019 The Go Authors. All rights reserved.
    Use of this source code is governed by a BSD-style
    license that can be found in the LICENSE file.
-->

{{define "header_search"}}
  {{/* This ideally would be empty, but you cannot redefine a template with only whitespace or comments. */}}
  <wbr>
{{end}}

{{define "main_content_stylesheet"}}
  <link href="/static/css/homepage.css?version={{.AppVersionLabel}}" rel="stylesheet">
{{end}}

{{define "main_content"}}
  <div class="Container">
    <div class="Homepage">
      <img class="Homepage-logo" src="/static/img/gopher-homepage.jpg" alt="go.dev">
      <form class="Homepage-searchForm" action="/search" role="search">
        <input
          id="AutoComplete"
          role="textbox"
          aria-label="Search for Go packages"
          type="text"
          name="q"
          placeholder="Search for Go packages"
          autocapitalize="off"
          autocomplete="off"
          autocorrect="off"
          spellcheck="false"
          title="Search for Go packages"
          autofocus="true">
        <div class="Homepage-buttonGroup">
          <button type="submit" class="Homepage-searchButton">Search</button>
          <a href="/search-help" target="_blank" class="Homepage-helpButton">
            Search help <span><img src="/static/img/icon-launch.svg"></span>
          </a>
        </div>
      </form>
      <div class="Homepage-exampleSearches">
        <span>EXAMPLE SEARCHES:</span>
        <a href="/search?q=logrus">"logrus"</a>
        <a href="/search?q=yaml+OR+json">"yaml OR json"</a>
        <a href="/search?q=go%2Fpackages">"go/packages"</a>
      </div>
    </div>
  </div>
{{end}}

{{define "pre_footer"}}
  <div class="Questions">
    <div class="Questions-content">
      <h3>Frequently asked questions:</h2>
      <ul>
        <li><a href="https://go.dev/about#adding-a-package">How can I add a package?</a></li>
        <li><a href="https://go.dev/about#removing-a-package">How can I remove a package?</a></li>
        <li><a href="https://go.dev/about#creating-a-badge">How can I add a go badge in my README file?</a></li>
      </ul>
    </div>
  </div>
{{end}}
