<!--
	Copyright 2019 The Go Authors. All rights reserved.
	Use of this source code is governed by a BSD-style
	license that can be found in the LICENSE file.
-->

{{ define "content" }}
{{ range .Licenses }}
<section class="License" id="{{ .Anchor }}">
  <h3><a href="#{{ .Anchor }}">{{ .Type }} <small>({{ .FilePath }})</small></a></h3>
  <pre class="License-contents">{{ printf "%s" .Contents }}</pre>
</section>
{{ end }}
{{ end }}
