<!--
	Copyright 2019 The Go Authors. All rights reserved.
	Use of this source code is governed by a BSD-style
	license that can be found in the LICENSE file.
-->

<!DOCTYPE html>
{{ template "header" .PackageHeader }}
{{ template "nav" }}
<div class="LicensesContent">
  {{ template "mod_header" .PackageHeader }}
  {{ template "modules_nav" .PackageHeader }}
  <div class="LicensesContent-licenses">
    &lt;licenses here&gt;
  </div>
  <footer></footer>
</div>

