<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "details_content"}}
  <div class="ModuleContent-list">
    <h2>Packages in this module</h2>
    <h3>Module: {{.ModulePath}}</h3>
    {{range .Packages}}
      <p>
        <div>
          <a href="/{{.Path}}?v={{.Version}}">
            <b>{{.Suffix}}</b>
          </a>
        </div>
        <div>{{.Synopsis}}</div>
      </p>
    {{end}}
  </div>
{{end}}
