<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{ define "content" }}
  <div class="ModuleContent-list">
    <h2>Module {{ .ModulePath }} @ {{ .Version }} contains packages:</h2>
    <div>
      <h3 class="ModuleContent-package">Package</h3>
      <h3 class="ModuleContent-synopsis">Synopsis</h3>
    </div>
    <hr>
    {{ range .Packages }}
      <div>
        <div class="ModuleContent-package">
          <a href="/{{ .Path }}@{{ .Version }}">
            <b>{{ .Dir }}</b>
          </a>
        </div>
        <div class="ModuleContent-synopsis">{{ .Synopsis }}</div>
        <hr>
      </div>
    {{ end }}
    <br>
    {{ .ReadMe }}
  </div>
{{ end }}
