<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "details_content"}}
  <div class="ModuleContent-list">
    {{if eq .ModulePath "std"}}
      <h2>Packages in the Go Standard Library</h2>
    {{else}}
      <h2>Packages in {{.ModulePath}}</h2>
    {{end}}

    {{range .Packages}}
      <p>
        <div>
          <a href="/pkg/{{.Path}}@{{.Version}}">
            <b>{{.Suffix}}</b>
          </a>
        </div>
        <div>{{.Synopsis}}</div>
      </p>
    {{end}}
  </div>
{{end}}
