<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "details_content"}}
  <div class="ImportedBy">
    {{if .ImportedBy}}
      <h2>Imported by</h2>
      <p>
        {{template "pagination_summary" .Pagination}} {{pluralize .Pagination.TotalCount "importer"}}
      </p>
      <ul class="ImportedBy-list">
        {{range .ImportedBy}}
          <li><a class="u-breakWord" href="/pkg/{{.}}">{{.}}</a></li>
        {{end}}
      </ul>
      {{template "pagination_nav" .Pagination}}
    {{else}}
      {{template "empty_content" "No known importers for this package!"}}
    {{end}}
  </div>
{{end}}
