<!--
	Copyright 2019 The Go Authors. All rights reserved.
	Use of this source code is governed by a BSD-style
	license that can be found in the LICENSE file.
-->

{{define "details_content"}}
  {{with .Documentation}}
    <div class="Documentation">{{.}}</div>
  {{else}}
    {{template "empty_content" "No documentation available for this package!"}}
  {{end}}
{{end}}
