<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{ define "ROOT" }}
<!DOCTYPE html>
<title>{{ .Query }} — Go Discovery</title>

{{ template "header" . }}
{{ template "nav" . }}

<div class="Container">
  {{ template "search_bar" . }}
  <div class="SearchContent-results">
    <h1 class="SearchContent-header">Results for “{{ .Query }}”</h1>
    <p>{{ .Offset }} of {{ .NumResults }} results</p>
    <hr>
    {{ range .Results }}
      <div class="SearchSnippetContent">
        <h2><b>{{ .Name }} - </b><a href="/{{.PackagePath}}?v={{.Version}}" class="SearchSnippetContent-packageName">{{ .PackagePath }}</a></h2>
        <p>{{ .Synopsis }}</p>
	<div>
          <span>Version: {{ .Version }}</span>
	  <span>|</span>
          <span>License(s): </span>
	  <span>{{ range $i, $e := .Licenses -}}{{ if $i }}, {{ end }} {{ $e.Type }} {{ end }}</span>
	</div>
	<div>
	  {{ if gt .NumImportedBy 1 }}
	    <span>Imported by {{ .NumImportedBy}}</span>
	    <span>|</span>
	  {{ else if eq .NumImportedBy 1 }}
	    <span>Imported by {{ .NumImportedBy}}</span>
	    <span>|</span>
	  {{ end }}
	  <span>Published: {{ .CommitTime }}</span>
	</div>
        <hr>
      </div>
    {{ end}}
    <div>
      {{ if .Prev }}
        <a href="/search?q={{ .Query }}&page={{ .Prev }}">Previous</a>
      {{ else }}
        <span>Previous</span>
      {{ end }}

      {{ range $i := iterate .NumPages }}
        <a href="/search?q={{ $.Query }}&page={{ add $i 1 }}">{{ add $i 1 }}</a>
      {{ end }}

      {{ if .Next }}
        <a href="/search?q={{ .Query }}&page={{ .Next }}">Next</a>
      {{ else }}
        <span>Next</span>
      {{ end }}
    </div>
  </div>

  {{ template "footer" }}
</div>
{{ end }}
