<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "main_content"}}
  <div class="SearchResults">
    <h1 class="SearchResults-header">Results for “{{.Query}}”</h1>
    <div class="SearchResults-resultCount">
      {{template "pagination_summary" .Pagination}} {{pluralize .Pagination.TotalCount "result"}}
    </div>
    <div>{{/* Containing element is needed to use *-of-type selectors */}}
      {{$query := .Query}}
      {{range .Results}}
        <div class="SearchSnippet">
          <h2 class="SearchSnippet-header">
            <a href="/pkg/{{.PackagePath}}{{if $query}}?q={{$query}}{{end}}">{{.PackagePath}}</a>
          </h2>
          <p class="SearchSnippet-synopsis">{{.Synopsis}}</p>
          <div class="InfoLabel">
            <b class="InfoLabel-title">Version:</b> {{.Version}}
            <span class="InfoLabel-divider">|</span>
            <b class="InfoLabel-title">{{pluralize (len .Licenses) "License"}}:</b>
            {{if .Licenses}}
              {{range $i, $e := .Licenses -}}{{if $i}}, {{end}} {{$e}} {{end}}
            {{else}}
              <span>N/A</span>
            {{end}}
          </div>
          <div class="InfoLabel">
            <b class="InfoLabel-title">Imported by:</b> {{.NumImportedBy}}
            <span class="InfoLabel-divider">|</span>
            <b class="InfoLabel-title">Published:</b> {{.CommitTime}}
          </div>
        </div>
      {{end}}
    </div>
    {{template "pagination_nav" .Pagination}}
  </div>
{{end}}
