<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{ define "ROOT" }}
<!DOCTYPE html>
<title>{{ .Query }} — Go Discovery</title>

{{ template "header" . }}
{{ template "nav" . }}

<div class="Container">
  {{ template "search_bar" . }}
  <div class="SearchContent-results">
    <h1 class="SearchContent-header">{{ .Total }} package{{if gt .Total 1 }}s{{end}} found for “{{ .Query }}”</h1>
    <div>
      <p>Page {{ .Page }}</p>
      <div>
        {{ if .Prev }}
          <a href="/search?q={{ .Query }}&page={{ .Prev }}">&lt;&lt; Prev</a>
        {{ end }}
        {{ if .Next }}
          <a href="/search?q={{ .Query }}&page={{ .Next }}">Next &gt;&gt;</a>
        {{ end }}
      </div>
    </div>
    <hr>
    {{ range .Results }}
      <div class="SearchSnippetContent">
        <h2><a href="/{{.PackagePath}}?v={{.Version}}" class="SearchSnippetContent-packageName">{{ .PackagePath }}</a></h2>
        <p><i>{{ .Version }}</i></p>
        <p>{{ .Synopsis }}</p>
        <p class="SearchSnippetContent-commitTime">
	  <span>Published {{ .CommitTime }}</span>
	  {{ if gt .NumImportedBy 1 }}
	    <span> | Imported by {{ .NumImportedBy}} packages</span>
	  {{ else if eq .NumImportedBy 1 }}
	    <span> | Imported by {{ .NumImportedBy}} package</span>
	  {{ end }}
	</p>
        <hr>
      </div>
    {{ end}}
  </div>
</div>
{{ end }}
