<!--
  Copyright 2020 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "pre_content"}}
  {{block "unit_pre_content" .}}{{end}}
{{end}}

{{define "main_content"}}
  <div class="Container">
    {{block "unit_header" .}}{{end}}
    {{block "unit_fixed_header" .}}{{end}}
    {{block "unit_content" .}}{{end}}
  </div>
{{end}}

{{define "post_content"}}
  <div class="js-canonicalURLPath" data-canonical-url-path="{{.CanonicalURLPath}}" hidden />
  <script>
    loadScript('/static/js/unit_fixed_header.js', {type: 'module', async: true, defer: true})
  </script>
  {{block "unit_post_content" .}}{{end}}
{{end}}