<!--
  Copyright 2020 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "unit_pre_content"}}
  <link href="/static/css/unit_header.css?version={{.AppVersionLabel}}" rel="stylesheet">
  <link href="/static/css/unit_fixed_header.css?version={{.AppVersionLabel}}" rel="stylesheet">
{{end}}

{{define "unit_content"}}
  {{block "imports" .PackageDetails}}{{end}}
{{end}}
