<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->
{{define "module_list"}}
  {{range $major := .}}
    <h2>
      {{.Major}}
      <span class="Versions-modulePath"> &ndash; {{$major.ModulePath}}</span>
    </h2>
    <ul class="Versions-list">
      {{range $minor := $major.Versions}}
        {{range $i, $v := $minor}}
          <li class="Versions-{{if $i}}notlatest{{else}}latest{{end}}">
            <a href="/pkg/{{$v.Path}}@{{$v.Version}}" title="{{$v.Version}}">{{$v.FormattedVersion}}</a>
            <span class="Versions-commitTime"> &ndash; {{$v.CommitTime}}</span>
          </li>
        {{end}}
      {{end}}
    </ul>
  {{end}}
{{end}}

{{define "details_content"}}
  <div class="Versions">
    <h2>{{if .OtherModules}}Versions in this module{{else}}Versions{{end}}</h2>
    {{template "module_list" .ThisModule}}
    {{if .OtherModules}}
      <em>Other modules containing this package:</em>
      {{template "module_list" .OtherModules}}
    {{end}}
{{end}}
