<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->
{{define "series_version_list"}}
  {{range $major := .MajorVersions}}
    <h2>
      {{$major.Major}}
      <span class="Versions-seriesPath"> &ndash; {{$major.ModulePath}}</span>
    </h2>
    <ul class="Versions-list">
      {{range $majMin := $major.MinorVersions}}
        {{range $i, $v := $majMin.PatchVersions}}
          <li class="Versions-{{if $i}}notlatest{{else}}latest{{end}}">
            <a href="/pkg/{{$v.Path}}@{{$v.Version}}" title="{{$v.Version}}">{{$v.FormattedVersion}}</a>
            <span class="Versions-commitTime"> &ndash; {{$v.CommitTime}}</span>
          </li>
        {{end}}
      {{end}}
    </ul>
  {{end}}
{{end}}

{{define "details_content"}}
  <div class="Versions">
    <h2>{{if .OtherSeries}}Versions in this module{{else}}Versions{{end}}</h2>
    {{template "series_version_list" .ThisSeries}}
    {{if .OtherSeries}}
      <div class="Versions-separator"></div>
      <h2>Other major versions</h2>
      {{range $series := .OtherSeries}}
        {{template "series_version_list" $series}}
      {{end}}
    {{end}}
  </div>
{{end}}
