<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "versionTable"}}
  {{if .}}
    <table>
      <thead>
        <tr>
          <th>Module Version</th>
          <th>Index Timestamp</th>
          <th>Status</th>
          <th>Error</th>
          <th>Attempts</th>
          <th>LastAttempt</th>
          <th>NextAttempt</th>
        </tr>
      </thead>
      <tbody>
        {{range .}}
          <tr>
            <td>{{.ModulePath}}/@v/{{.Version}}</td>
            <td>{{.IndexTimestamp | timefmt}}</td>
            <td>{{.Status}}</td>
            <td>{{.Error}}</td>
            <td>{{.TryCount}}</td>
            <td>{{.LastProcessedAt | timefmt}}</td>
            <td>{{.NextProcessedAfter | timefmt}}</td>
          </tr>
        {{end}}
      </tbody>
    </table>
  {{else}}
    <p>No versions.</p>
  {{end}}
{{end -}}

<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<link href="/static/worker/worker.min.css" rel="stylesheet">
<title>{{.Env}} Worker</title>

<body>
  <h1>{{.Env}} Worker</h1>
  <p>All times in America/New_York.</p>
  <p><a href="/">Home</a></p>

  <div>
    <h3>Statistics</h3>
    <p>Latest timestamp from the module index: {{.LatestTimestamp | timefmt}}</p>
    <p>Results by status:</p>
    <table>
      <thead><tr><th>Code</th><th>Status</th><th>Count</th></tr></thead>
      <tbody>
        {{range .Counts}}
        <tr><td>{{.Code}}</td><td>{{.Desc}}</td><td>{{.Count}}</td></tr>
        {{end}}
      </tbody>
    </table>
  </div>


  <h3>Recent versions:</h3>
  {{template "versionTable" .Recent}}

  <h3>Next versions to process:</h3>
  {{template "versionTable" .Next}}

  <h3>Recent failed attempts:</h3>
  {{template "versionTable" .RecentFailures}}
</body>
