/*!
 * Copyright 2021 The Go Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

.go-Message {
  color: var(--color-text);
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
}

.go-Message--notice {
  background-color: var(--color-background-info);
}

.go-Message--warning {
  background-color: var(--color-background-warning);
  color: var(--gray-1);
}

.go-Message--alert {
  background-color: var(--color-background-alert);
}

.go-Message > .go-Icon {
  vertical-align: text-top;
}

[data-theme='dark'] .go-Message a:not(:hover) {
  color: var(--color-text);
  text-decoration: underline;
}

[data-theme='dark'] .go-Message--warning .go-Icon {
  filter: none;
}
@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) .go-Message--warning .go-Icon {
    filter: none;
  }
}
