<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{ define "footer" }}
  <footer class="Footer">
    <img class="Gopher" src="/static/img/gopher.jpg">
    <b>go.dev</b>
    <span>© 2019</span>
    <img class="GoLogo" src="/static/img/logo.svg">
    <img class="GoogleLogo" src="/static/img/google.svg">
  </footer>
{{ end }}
