<!--
	Copyright 2019 The Go Authors. All rights reserved.
	Use of this source code is governed by a BSD-style
	license that can be found in the LICENSE file.
-->

{{ define "mod_header" }}
  <title>
  	<span>{{ .Title }}</span>
	<span>- {{ .Version }}</span>
  </title>
  <header>
    <h1>
    	<span>{{ .Title }}</span>
    </h1>
    <h3><a href="https://{{ .Path }}" class="DetailsHeader-packageName">{{ .Version }}</a></h3>
    {{ if not .IsCommand }}
      <p>import "{{ .Path }}"</p>
    {{ end }}
    <p>{{ .Synopsis }}</p>
    <p>{{range $i, $e := .Licenses}}{{if $i}}, {{end}}{{ $e.Type }}{{end}} - {{ .CommitTime }}</p>
  </header>
{{ end }}
