<!--
	Copyright 2019 The Go Authors. All rights reserved.
	Use of this source code is governed by a BSD-style
	license that can be found in the LICENSE file.
-->

{{ define "mod_header" }}
  <title>Package {{ .Name }} - {{ .Version }}</title>
  <header>
    <h1>Package <a href="https://{{ .Path }}" class="DetailsHeader-packageName">{{ .Name }}</a> - {{ .Version }}</h1>
    <h3>import "{{ .Path }}"</h3>
    <p>{{ .Synopsis }}</p>
    <p>{{ .License }} - {{ .CommitTime }}</p>
  </header>
{{ end }}
