<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{ define "nav" }}
  <nav>
    <ul class="GlobalNav">
      <li class="GlobalNav-link">
        <a class="GoLogo" href="/">
          <img src="/static/img/logo.svg" alt="Go Discovery">
        </a>
      </li>
    <form class="GlobalNav-search" action="/search" role="search">
      <input type="text"
      	     name="q"
	     placeholder="Search packages"
	     autocapitalize="off"
	     autocomplete="off"
	     autocorrect="off"
	     spellcheck="false"
	     title="Search packages">
      <button>Search</button>
    </form>
    <a class="GlobalNav-feedback" href="">Feedback?</a>
    </ul>
  </nav>
{{ end }}
