<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{ define "search_bar" }}
  <div>
    <form class="HomeContent-search" action="/search" role="search">
      <label class="HomeContent-searchLabel">Search packages
        <input class="HomeContent-searchInput"
               type="text"
               name="q"
               placeholder="Search packages"
               autocapitalize="off"
               autocomplete="off"
               autocorrect="off"
               spellcheck="false"
               title="Search packages"
               value={{.Query}}>
      </label>
      <button type="submit" class="HomeContent-searchButton">Search</button>
    </form>
  </div>
{{ end }}
