<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "search"}}
  <form class="SearchForm" action="/search" role="search">
    <input class="SearchForm-input"
      aria-label="Search for a package"
      type="text"
      name="q"
      size="1"
      placeholder="Search for a package"
      autocapitalize="off"
      autocomplete="off"
      autocorrect="off"
      spellcheck="false"
      title="Search for a package"
      value="{{.Query}}"
      {{block "search_additional_attrs" .}}{{end}}>
    <button class="SearchForm-submit ImageButton" aria-label="Search for a package">
      <svg class="SearchForm-submitIcon" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path><path fill="none" d="M0 0h24v24H0z"></path></svg>
    </button>
  </form>
{{end}}

{{define "header_search"}}
  <form class="Header-searchForm" action="/search" role="search">
    <input class="Header-searchForm-input"
      aria-label="Search for a package"
      type="text"
      name="q"
      size="1"
      placeholder="Search for a package"
      autocapitalize="off"
      autocomplete="off"
      autocorrect="off"
      spellcheck="false"
      title="Search for a package"
      value="{{.Query}}"
      {{block "search_additional_attrs" .}}{{end}}>
    <button class="Header-searchFormSubmit" aria-label="Search for a package">
      <svg class="Header-searchFormSubmitIcon" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path><path fill="none" d="M0 0h24v24H0z"></path></svg>
    </button>
  </form>
{{end}}
