<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{ define "search_snippet" }}
  <div class="SearchSnippetContent">
    <h2><a href="/{{.PackagePath}}@{{.Version}}" class="SearchSnippetContent-packageName">{{ .PackagePath }}</a></h2>
    <p><i>{{ .Version }}</i></p>
    <p>{{ .Synopsis }}</p>
    <p class="SearchSnippetContent-commitTime">Published {{ .CommitTime }}</p>
    <hr>
  </div>
{{ end }}
