<!--
  Copyright 2020 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "unit_doc"}}
  <div class="UnitDoc" id="doc-top">
    <h2 class="UnitDoc-title">
      <img height="25px" width="20px" src="/static/img/pkg-icon-doc_20x12.svg">Documentation
    </h2>
    <div class="Documentation js-documentation">
      {{.DocBody}}
    </div>
  </div>
{{end}}
