<!--
  Copyright 2020 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "unit_readme"}}
  <div class="UnitReadme {{if .ExpandReadme}}UnitReadme--expanded{{end}}" id="readme-top">
    <h2 class="UnitReadme-title">
      <img height="25px" width="20px" src="/static/img/pkg-icon-readme_20x16.svg">README
    </h2>
    {{if .Readme }}
      <div class="UnitReadme-content">
        <div class="Overview-readmeContent">{{.Readme}}</div>
        <div class="UnitReadme-fadeOut"></div>
      </div>
      <a class="UnitReadme-expandLink" href="?readme#readme-top">Expand ▾</a>
      <a class="UnitReadme-collapseLink" href="?#readme-top">Collapse ▴</a>
    {{end}}
  </div>
{{end}}
