<!--
  Copyright 2020 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "unit_directories"}}
  <div class="UnitDirectories" id="section-directories">
    <h2 class="UnitDirectories-title">
      <img height="25px" width="20px" src="/static/img/pkg-icon-folder_20x16.svg" alt="">Directories
    </h2>
    {{if (or .Subdirectories .NestedModules) }}
      <table class="UnitDirectories-table">
        <tr class="UnitDirectories-tableHeader">
          <th>Path</th>
          <th>Synopsis</th>
        </tr>
        {{range .Subdirectories}}
          <tr>
            <td>
              <a href="{{.URL}}">{{.Suffix}}</a>
            </td>
            <td>{{.Synopsis}}</td>
          </tr>
        {{end}}
        {{range .NestedModules}}
          <tr>
            <td>
              <span class="UnitDirectories-moduleTag">MODULE</span>
              <a href="{{.URL}}">{{.Suffix}}</a>
            </td>
            <td></td>
          </tr>
        {{end}}
      </table>
    {{end}}
  </div>
{{end}}
