<!--
  Copyright 2021 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "unit_outline_mobile"}}
  <nav class="DocNavMobile js-mobileNav">
    <label for="DocNavMobile-select" class="DocNavMobile-label">
      <svg class="DocNavMobile-selectIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px">
        <path d="M0 0h24v24H0z" fill="none"/><path d="M3 9h14V7H3v2zm0 4h14v-2H3v2zm0 4h14v-2H3v2zm16 0h2v-2h-2v2zm0-10v2h2V7h-2zm0 6h2v-2h-2v2z"/>
      </svg>
      <span class="DocNavMobile-selectText js-mobileNavSelectText">Outline</span>
    </label>
    <select id="DocNavMobile-select" class="DocNavMobile-select">
      <option value="">Outline</option>
      <optgroup label="README">
        {{range .ReadmeOutline}}<option value="{{.ID}}">{{.Text}}</option>{{end}}
      </optgroup>
      {{.MobileOutline}}
      <option class="js-sourcefilesOption" value="section-sourcefiles">Source Files</option>
      <option class="js-directoriesOption" value="section-directories">Directories</option>
    </select>
  </nav>
{{end}}
