<!--
  Copyright 2020 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "unit_meta"}}
  <div class="UnitMeta">
    <div class="UnitMeta-header">Links</div>
    <div class="UnitMeta-repo">Repository</div>
    <a href="{{.Unit.SourceInfo.RepoURL}}" title="{{.Unit.SourceInfo.RepoURL}}">
      {{.Unit.SourceInfo.RepoURL}}
    </a>
  </div>
{{end}}
