<!--
  Copyright 2020 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "unit_doc"}}
  <div class="UnitDoc">
    <h2 class="UnitDoc-title" id="section-documentation">
      <img height="25px" width="20px" src="/static/img/pkg-icon-doc_20x12.svg" alt="">Documentation
    </h2>
    <div class="Documentation js-documentation">
      {{if .DocBody.String}}
        {{.DocBody}}
      {{else}}
        <div class="UnitDoc-emptySection">
          <img src="/static/img/gopher-airplane.svg" alt="The Go Gopher"/>
          <p>There is no documentation for this package.</p>
        </div>
      {{end}}
    </div>
  </div>
{{end}}
