<!--
  Copyright 2020 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{/* . is internal/frontend.VersionsDetails */}}

{{define "versions"}}
  <div class="Versions">
    <table>
      <tr><th colspan="3"><h2>Versions in this module</h2></th></tr>
      {{template "module_list" .ThisModule}}
      {{if .IncompatibleModules}}
        <tr><th colspan="3"><h2>Incompatible versions in this module</h2></th></tr>
        {{template "module_list" .IncompatibleModules}}
      {{end}}
    </table>

    {{if .OtherModules}}
      <h2>Other modules containing this package</h2>
      {{range .OtherModules}}
        <div><a href="/{{.}}">{{.}}</a></div>
      {{end}}
    {{end}}
  </div>
{{end}}


{{/* . is []*internal/frontend.VersionList */}}

{{define "module_list"}}
  {{range $major := .}}
     {{range $i, $v := $major.Versions}}
       <tr>
         <td>
           {{if eq $i 0 }}
             <div class="Versions-major">
               {{$major.Major}}
               {{if $major.Deprecated}}(Deprecated{{with $major.DeprecationComment}}: {{.}}{{end}}){{end}}
             </div>
           {{end}}
         </td>
         <td>
           <a href="{{$v.Link}}">{{$v.Version}}</a>
           {{if $v.Retracted}}(Retracted{{with .RetractionRationale}}: {{.}}){{end}}{{end}}
         </td>
         <td>
           <div class="Versions-commitTime">{{$v.CommitTime}}</div>
           <div>
             {{range $v.Symbols}}
               {{template "symbol" .}}
               {{range .Children}}
                 <div class="Versions-symbolChild">{{template "symbol" .}}</div>
               {{end}}
             {{end}}
           </div>
         </td>
       </tr>
     {{end}}
  {{end}}
{{end}}

{{define "symbol"}}
  <div>
     {{if .New}}
       {{if eq .Kind "Method"}}method{{else if eq .Kind "Field"}}field{{end}}
       <a href="{{.Link}}">{{end}}{{.Synopsis}} {{if .New}}</a>
     {{end}}
     {{if .Builds}}
       <span class="Versions-symbolBuilds">{{range $i, $b := .Builds}}{{if $i}}, {{end}}{{$b}}{{end}}</span>
     {{end}}
 </div>
{{end}}
