<!--
  Copyright 2020 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "title"}}<title>{{.MessageData}} - Go Packages</title>{{end}}

{{define "pre-content"}}
  <link href="/static/frontend/fetch/fetch.min.css?version={{.AppVersionLabel}}" rel="stylesheet">
{{end}}

{{define "main"}}
  <main class="go-Container" id="main-content">
    <div class="go-Content go-Content--center">
      {{template "gopher-airplane" ""}}
      <h3 class="Fetch-message js-fetchMessage"
        data-test-id="fetch-message"
        aria-live="polite"
        data-path="{{.MessageData}}">
        Oops! We couldn't find “{{.MessageData}}”.
      </h3>
      <div class="Fetch-loading js-fetchLoading" aria-live="polite">
        <i class="Fetch-dot"></i>
        <i class="Fetch-dot"></i>
        <i class="Fetch-dot"></i>
      </div>
      <p class="Fetch-messageSecondary js-fetchMessageSecondary" aria-live="polite">
        Check that you entered the URL correctly,
        try fetching it following the <a href="/about#adding-a-package">instructions here</a>,
        or request to add “{{.MessageData}}” to pkg.go.dev.
      </p>
      <button class="go-Button Fetch-button js-fetchButton" data-test-id="fetch-button" aria-live="polite">
        Request “{{.MessageData}}”
      </button>
    </div>
  </main>

{{end}}

{{define "post-content"}}
  <script>
    loadScript("/static/frontend/fetch/fetch.js");
  </script>
{{end}}
