<!--
    Copyright 2019 The Go Authors. All rights reserved.
    Use of this source code is governed by a BSD-style
    license that can be found in the LICENSE file.
-->

{{define "pre-content"}}
  <link href="/static/frontend/homepage/homepage.min.css?version={{.AppVersionLabel}}" rel="stylesheet">
{{end}}

{{define "main"}}
  <main class="go-Container" id="main-content">
    <div class="go-Content go-Content--center">
      <img class="Homepage-logo" width="700" height="300"
          src="/static/shared/gopher/package-search-700x300.jpeg" alt="Cartoon gopher typing">
      <form class="go-InputGroup Homepage-search Homepage-search--symbol"
          action="/search" role="search" data-gtmc="homepage search form">
        <input
          class="go-Input js-searchFocus Homepage-search--input"
          data-test-id="homepage-search"
          id="AutoComplete"
          role="textbox"
          aria-label="{{.SearchPrompt}}"
          name="q"
          placeholder="{{.SearchPrompt}}"
          autocapitalize="off"
          autocomplete="off"
          autocorrect="off"
          spellcheck="false"
          title="{{.SearchPrompt}}"
          autofocus="true">
        <button class="Homepage-closeIcon" type="reset" aria-label="Clear Search"> X </button>
        <button type="submit" class="go-Button">Search</button>
      </form>
      <section class="go-Carousel Homepage-tips js-carousel" aria-label="Search Tips Carousel" data-slide-index="{{.TipIndex}}">
        <ul>
          {{range $i, $v := .SearchTips}}
            <li class="go-Carousel-slide" {{if not (eq $.TipIndex $i)}}aria-hidden{{end}}>
              <p>
                <strong>Tip:</strong> {{.Text}}
                <a href="/search?q={{$v.Example1}}">“{{$v.Example1}}”</a> or
                <a href="/search?q={{$v.Example2}}">“{{$v.Example2}}”</a>.
                <a href="/search-help" target="_blank" rel="noopener" class="Homepage-helpLink">
                  Search help <span><img width="24" height="24" src="/static/shared/icon/launch_gm_grey_24dp.svg" alt=""></span>
                </a>
              </p>
            </li>
          {{end}}
        </ul>
      </section>
      {{if .LocalModules}}
        <section class="Homepage-modules" aria-label="Local Modules">
          <div class="Homepage-modules-header">Or browse local modules:</div>
          <ul>
            {{range .LocalModules}}<li><a href="/{{.ModulePath}}">{{.ModulePath}}</a> &ndash; {{.Dir}}</li>{{end}}
          </ul>
        </section>
      {{end}}
    </div>
  </main>
{{end}}

{{define "pre-footer"}}
  <div class="Questions">
    <div class="Questions-content">
      <div class="Questions-header" role="heading" aria-level="2">Frequently asked questions:</div>
      <ul>
        <li><a href="https://go.dev/about#adding-a-package">How can I add a package?</a></li>
        <li><a href="https://go.dev/about#removing-a-package">How can I remove a package?</a></li>
        <li><a href="https://go.dev/about#creating-a-badge">How can I add a go badge in my README file?</a></li>
      </ul>
    </div>
  </div>
{{end}}
