/*!
 * Copyright 2020 The Go Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

.LegacyUnitHeader {
  border-bottom: 0.0625rem solid var(--gray-8);
  padding: 0.5rem 1rem;
}
@media only screen and (min-width: 57.7rem) {
  .LegacyUnitHeader {
    border-bottom: 0.0625rem solid var(--gray-8);
    padding: 0.5rem 1.5rem;
  }
}
.LegacyUnitHeader-container {
  margin: auto;
  max-width: 95rem;
}
.LegacyUnitHeader-breadcrumb {
  margin-top: 0.5rem;
}
.LegacyUnitHeader-breadcrumbItem {
  color: var(--gray-4);
  display: inline-flex;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.LegacyUnitHeader-breadcrumbItem:not(:last-child)::after {
  content: '>';
  padding: 0 0.5rem;
}
.LegacyUnitHeader-heading {
  align-items: center;
  display: flex;
}
.LegacyUnitHeader-title {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-bottom: 1rem;
  margin-top: 0.625rem;
}
.LegacyUnitHeader-detail {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
@media only screen and (min-width: 64rem) {
  .LegacyUnitHeader-detail {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
  }
}
.LegacyUnitHeader-detailItem {
  color: var(--gray-4);
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
.LegacyUnitHeader-detailItem img {
  margin-right: 0.5rem;
  vertical-align: middle;
}
.LegacyUnitHeader-scaleIcon img {
  margin-right: 0.75rem;
}
.LegacyUnitHeader-detailItem a > span {
  color: var(--gray-4);
}
@media only screen and (min-width: 64rem) {
  .LegacyUnitHeader-detailItem:not(:last-of-type)::after {
    content: '|';
    padding: 1rem;
  }
}
@media only screen and (max-width: 52rem) {
  .LegacyUnitHeader-detailItem:not(:last-of-type)::after {
    padding: 0.5rem;
  }
}

/*
 * TODO: Replace DetailsHeader-badge with LegacyUnitHeader-versionBadge in
 * middleware/latestversion.go after unit page is launched.
 */
.LegacyUnitHeader-versionBadge,
.DetailsHeader-badge {
  border-radius: unset;
  color: var(--white);
  font-size: 0.7rem;
  margin: -1rem 0 -1rem 0.5rem;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  top: -0.0625rem;
}
.LegacyUnitHeader-versionBadge--latest,
.DetailsHeader-badge--latest {
  background: var(--turq-dark);
}
.LegacyUnitHeader-versionBadge--goToLatest,
.DetailsHeader-badge--goToLatest {
  background: var(--pink);
}
.LegacyUnitHeader-versionBadge--unknown,
.DetailsHeader-badge--unknown {
  display: none;
}

.LegacyUnitHeader-majorVersionBanner,
.LegacyUnitHeader-redirectedFromBanner,
.LegacyUnitHeader-deprecatedBanner,
.LegacyUnitHeader-retractedBanner {
  display: flex;
  margin: -0.5rem 0 1rem 0;
  padding: 0.75rem 0;
}

.LegacyUnitHeader-majorVersionBanner,
.LegacyUnitHeader-redirectedFromBanner {
  background-color: var(--gray-10);
}

.LegacyUnitHeader-deprecatedBanner,
.LegacyUnitHeader-retractedBanner {
  background-color: var(--yellow);
}

.LegacyUnitHeader-detailIcon {
  color: var(--gray-3);
  flex-shrink: 0;
  margin-left: 1rem;
  margin-right: 0.7rem;
  width: 1rem;
}
a.LegacyUnitHeader-backLink {
  color: var(--black);
  display: block;
  font-size: 1rem;
}
.LegacyUnitHeader-backLink img {
  height: 0.8125rem;
  margin-right: 0.5rem;
  position: relative;
  top: -0.0625rem;
  width: auto;
}
.LegacyUnitHeader-badge {
  border: 0.0625rem solid var(--gray-4);
  border-radius: 0.125rem;
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 1rem;
  margin-left: 0.5rem;
  padding: 0 0.35rem;
  text-align: center;
}
