/*
	Copyright 2019 The Go Authors. All rights reserved.
	Use of this source code is governed by a BSD-style
	license that can be found in the LICENSE file.
*/

:root {
  --gray-1: #202224;
  --gray-2: #3e4042;
  --gray-3: #555759;
  --gray-4: #6e7072;
  --gray-5: #848688;
  --gray-6: #aaacae;
  --gray-7: #c6c8ca;
  --gray-8: #dcdee0;
  --gray-9: #f0f1f2;
  --gray-10: #f8f9f9;

  --turq-text: #007d9c;
  --turq-med: #00add8;
  --turq-light: #5dc9e2;

  --purple: #542c7d;
  --yellow: #fddd00;
  --pink: #ce3262;
  --green: #00a29c;
}

*,
:before,
:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: Roboto, arial, sans-serif;
  color: var(--gray-1);
  margin: 0;
}
a,
a:link,
a:visited {
  color: var(--turq-text);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', arial, sans-serif;
}

.Site {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.Site-content {
  flex: 1;
  padding: 0 16px;
}
.Site-footer {
  padding-top: 20px;
}

.Footer {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 16px 20px;
  position: relative;
}
.Footer-gopher {
  bottom: 0;
  left: 20px;
  position: absolute;
  width: 80px;
}
.Footer-links {
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.Footer-link {
  font-size: 14px;
  white-space: nowrap;
}
.Footer-link + .Footer-link {
  margin-top: 8px;
}
.Footer-link--long {
  display: none;
}
.Footer-googleLogo {
  bottom: 13px;
  position: absolute;
  right: 20px;
}
.Footer-googleLogoImg {
  display: block;
  height: 24px;
  width: 72;
}
@media only screen and (min-width: 825px) {
  .Footer-links {
    padding-left: 100px;
    text-align: left;
  }
  .Footer-link {
    display: inline;
  }
  .Footer-link + .Footer-link {
    border-left: 1px solid var(--gray-2);
    margin-left: 12px;
    padding-left: 12px;
  }
  .Footer-link--long {
    display: inline;
  }
  .Footer-link--short {
    display: none;
  }
}

.SearchForm {
  align-items: center;
  border: 1px solid var(--gray-8);
  border-radius: 100em;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 612px;
  padding: 8px;
  padding-left: 16px;
}
.SearchForm-input {
  border: none;
  flex: 1;
  font: inherit;
  outline: none;
}
.SearchForm-submit {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
}
.SearchForm-submitIcon {
  fill: var(--turq-med);
  width: 23px;
}
.Search {
  margin-top: 135px;
}
.Search-logo {
  display: block;
  height: 72px;
  margin: 0 auto 50px;
  width: 194px;
}
@media only screen and (min-width: 1000px) {
  .Search {
    margin-top: 200px;
  }
}

.Header {
  border-bottom: 1px solid var(--gray-8);
  display: flex;
  padding: 14px 16px;
}
.Header-logo {
  align-items: center;
  display: flex;
  margin-right: 20px;
}
.Header-logoImg {
  height: 28px;
  width: 70px;
}
.Header-search {
  flex: 1;
}
@media only screen and (min-width: 850px) {
  .Header {
    padding-left: 24px;
    padding-right: 24px;
  }
  .Header-logo {
    left: 24px;
    position: absolute;
    top: 22px;
  }
}

.SearchResults {
  margin: 0 auto;
  max-width: 818px;
  padding: 40px 0;
}
.SearchResults-header {
  font-size: 30px;
  margin: 0 0 8px;
}
.SearchResults-resultCount {
  color: var(--gray-3);
  font-size: 16px;
  margin-bottom: 25px;
}
.SearchSnippet {
  border-top: 1px solid var(--gray-8);
  padding: 25px 0;
}
.SearchSnippet:only-of-type,
.SearchSnippet:last-of-type {
  border-bottom: 1px solid var(--gray-8);
  margin-bottom: 16px;
}
.SearchSnippet-header {
  font-size: 24px;
  margin: 0 0 5px;
}
.SearchSnippet-synopsis {
  color: var(--gray-3);
  font-size: 16px;
  line-height: 1.4;
  margin: 0 0 16px;
}
.SearchSnippet-subtext {
  color: var(--gray-3);
  font-size: 14px;
}
.SearchSnippet-subtext:first-of-type {
  margin-bottom: 7px;
}
.SearchSnippet-subtextTitle {
  color: var(--gray-1);
}
.SearchSnippet-subtextDivide {
  display: inline-block;
  margin: 0 16px;
}
.SearchResults-nav {
  display: flex;
  font-size: 14px;
  justify-content: flex-end;
}
.SearchResults-navInner {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.SearchResults-previous[aria-disabled='true'],
.SearchResults-next[aria-disabled='true'] {
  color: var(--gray-6);
}
@media only screen and (min-width: 800px) {
  .SearchResults-nav {
    font-size: 18px;
  }
  .SearchResults-navInner {
    max-width: 400px;
  }
  .SearchResults-previous {
    margin-right: 12px;
  }
  .SearchResults-next {
    margin-left: 12px;
  }
}

.ModulesNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid var(--gray-8);
  background-color: var(--gray-9);
}
.ModulesNav-tab {
  float: left;
  display: flex;
  padding: 0 10px;
}
.ModulesNav-link {
  display: block;
  color: var(--gray-1);
  text-align: center;
  padding: 14px 3px 16px 3px;
  text-decoration: none;
}
.ModulesNav-link:hover {
  background-color: var(--gray-8);
}
.ModulesNav-tab.active {
  background-color: var(--gray-8);
}
.Container {
  color: var(--gray-1);
  margin: 0 auto;
  max-width: 60em;
}
.Content {
  margin-top: 10px;
  min-height: 500px;
}
.ModuleContent-package {
  display: inline-flex;
  width: 45%;
  padding: 10px 0;
}
.ModuleContent-synopsis {
  display: inline-flex;
  width: 50%;
}
.License-contents {
  background-color: var(--gray-10);
  padding: 10px;
  border: 1px solid var(--gray-8);
  border-radius: 3px;
}
.License-disclaimer {
  font-style: italic;
}
.Disclaimer-link {
  font-style: italic;
}

.Documentation {
  color: #333;
  font-family: 'Roboto';
  font-size: 1rem;
  margin-top: 25px;
}
.Documentation a {
  color: #375eab;
  text-decoration: none;
}
.Documentation a:hover {
  text-decoration: underline;
}
.Documentation h2 a {
  display: none;
}
.Documentation h2:hover a {
  display: initial;
}
.Documentation p {
  line-height: 1.4;
}
.Documentation code,
.Documentation pre,
.License-contents {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  font: 0.875em 'Source Code Pro', monospace;
  overflow-x: auto;
  padding: 0.75em;
  tab-size: 4;
}

.ModuleContent-list {
  max-width: 620px;
}

.Versions-commitTime {
  color: var(--gray-3);
  font-weight: 400;
}
.Versions-seriesPath {
  color: var(--gray-3);
  font-size: 0.875em;
}
.Overview-gopher {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  width: 240px;
}
.Overview-readmeNone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}
.Overview-readmeNoneMessage {
  text-align: center;
}
.Error-gopher {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  width: 240px;
}
.Error-message {
  text-align: center;
}
