/*
	Copyright 2019 The Go Authors. All rights reserved.
	Use of this source code is governed by a BSD-style
	license that can be found in the LICENSE file.
*/

:root {
  --gray-1: #202224;
  --gray-2: #3e4042;
  --gray-3: #555759;
  --gray-4: #6e7072;
  --gray-5: #848688;
  --gray-6: #aaacae;
  --gray-7: #c6c8ca;
  --gray-8: #dcdee0;
  --gray-9: #f0f1f2;
  --gray-10: #f8f9f9;

  --turq-text: #007d9c;
  --turq-med: #00add8;
  --turq-light: #5dc9e2;

  --blue: #92e1f3;
  --purple: #542c7d;
  --yellow: #fddd00;
  --pink: #ce3262;
  --green: #00a29c;
  --white: #fff;
}

*,
:before,
:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  color: var(--gray-1);
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
a,
a:link,
a:visited {
  color: var(--turq-text);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', arial, sans-serif;
  word-break: break-word;
}
h1,
h2,
h3 {
  font-weight: bold
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.125rem;
}
h3 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
  line-height: 1.5rem;
}
.u-breakWord {
  word-break: break-word;
}
code {
  font-size: 1rem;
}

.Site {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.Site-content {
  flex: 1;
  padding: 0 1rem;
}
.Site-footer {
  padding-top: 1.25rem;
}

.Footer {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 1rem 1.25rem;
  position: relative;
}
.FeedbackButton {
  cursor: pointer;
}
.Footer-feedbackButton {
  border: none;
  color: var(--turq-text);
  font-size: 0.875rem;
}
.Footer-gopher {
  bottom: 0;
  left: 1.25rem;
  position: absolute;
  width: 80px;
}
.Footer-links {
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.Footer-link {
  font-size: 0.875rem;
  white-space: nowrap;
}
.Footer-link + .Footer-link {
  margin-top: 0.5rem;
}
.Footer-link--long {
  display: none;
}
.Footer-googleLogo {
  bottom: 13px;
  position: absolute;
  right: 1.25rem;
}
.Footer-googleLogoImg {
  display: block;
  height: 1.5rem;
  width: 4.5rem;
}
@media only screen and (min-width: 825px) {
  .Footer-links {
    padding-left: 100px;
    text-align: left;
  }
  .Footer-link {
    display: inline;
  }
  .Footer-link + .Footer-link {
    border-left: 0.0625rem solid var(--gray-2);
    margin-left: 12px;
    padding-left: 12px;
  }
  .Footer-link--long {
    display: inline;
  }
  .Footer-link--short {
    display: none;
  }
}

.SearchForm {
  align-items: center;
  border: 0.0625rem solid var(--gray-8);
  border-radius: 100em;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 612px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.SearchForm-input {
  border: none;
  flex: 1;
  font: inherit;
  outline: none;
}
.SearchForm-submit {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
}
.SearchForm-submitIcon {
  fill: var(--turq-med);
  width: 23px;
}
.Search {
  margin-top: 135px;
}
.Search-logo {
  display: block;
  height: 4.5rem;
  margin: 0 auto 50px;
  width: 194px;
}
@media only screen and (min-width: 1000px) {
  .Search {
    margin-top: 200px;
  }
}

.Header {
  border-bottom: 0.0625rem solid var(--gray-8);
  display: flex;
  padding: 0.875rem 1rem;
}
.Header-feedbackButton {
  background: none;
  border-radius: 0.625rem;
  border: 0.0625rem solid var(--gray-8);
  color: var(--turq-text);
  font-size: 1rem;
  max-width: 100px;
  padding: 0.625rem;
  text-align: center;
}
.Header-logo {
  align-items: center;
  display: flex;
  margin-right: 1.25rem;
}
.Header-logoImg {
  height: 28px;
  width: 70px;
}
.Header-search {
  flex: 1;
}
.DetailsHeader {
  margin-top: 0.75rem;
}
.DetailsHeader-main {
  margin-top: 0.25rem;
}
.DetailsHeader-title {
  display: inline-block;
  font:  600 1.875rem 'Work Sans', arial, sans-serif;
  margin: 0;
}
.DetailsHeader-version {
  display: inline-block;
  margin: 0 0.5rem;
}
.DetailsHeader-badge {
  border-radius: 1rem;
  display: inline-block;
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
}
.DetailsHeader-latest {
  background: var(--blue);
}
.DetailsHeader-goToLatest {
  background: var(--pink);
}
.DetailsHeader-goToLatest a {
  color: var(--white);
}
.DetailsHeader-breadcrumbCurrent {
  color: var(--gray-3);
}
.DetailsHeader-breadcrumbDivider {
  color: var(--gray-3);
}
#DetailsHeader-copyPath {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#DetailsHeader-path {
/*
   An input element that can be selected so its contents can be
   copied to the clipboard. We can't use a hidden element, so
   put this visible one very far off the screen.
*/
  position: absolute;
  left: -62rem;
  top: 62rem;
}
@media only screen and (min-width: 850px) {
  .Header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .Header-feedbackButton {
    max-width: none;
  }
  .Header-logo {
    left: 1.5rem;
    position: absolute;
    top: 22px;
  }
}

.SearchResults {
  margin: 0 auto;
  max-width: 60em;
  padding: 40px 0;
}
.SearchResults-header {
  font-size: 1.875rem;
  margin: 0;
}
.SearchResults-help {
  margin-top: 0.3125rem;
}
.SearchResults-resultCount {
  color: var(--gray-3);
  margin-top: 1.125rem;
  margin-bottom: 0.625rem;
  display: flex;
  justify-content: space-between;
}
.SearchResults-footer {
  display: flex;
  justify-content: flex-end;
}
.SearchSnippet {
  border-top: 0.0625rem solid var(--gray-8);
  padding: 1.5rem 0;
}
.SearchSnippet:only-of-type,
.SearchSnippet:last-of-type {
  border-bottom: 0.0625rem solid var(--gray-8);
  margin-bottom: 1rem;
}
.SearchSnippet-header {
  font-size: 1.5rem;
  margin: 0 0 0.3125rem;
}
.SearchSnippet-synopsis {
  color: var(--gray-3);
  margin: 0 0 1rem;
}
.SearchResults .Pagination-nav,
.SearchResults-help,
.SearchResults-resultCount{
  font-size: 0.875rem;
}

.Pagination-nav {
  display: flex;
}
.Pagination-navInner {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.Pagination-previous[aria-disabled='true'],
.Pagination-next[aria-disabled='true'] {
  color: var(--gray-6);
}
.Pagination-number {
  padding: 0 6px;
  color: var(--gray-1);
}

@media only screen and (min-width: 800px) {
  .SearchResults .Pagination-nav,
  .SearchResults-help,
  .SearchResults-resultCount{
    font-size: 1.125rem;
  }
  .Pagination-navInner {
    max-width: 400px;
  }
  .Pagination-previous {
    margin-right: 12px;
  }
  .Pagination-next {
    margin-left: 12px;
  }
}

.Overview-module {
  border-bottom: 0.0625rem solid var(--gray-8);
  padding-bottom: 2rem;
  padding-top: 0.5rem;
}
.Overview-sourceCode {
  border-bottom: 0.0625rem solid var(--gray-8);
  padding-bottom: 2rem;
}
.Overview-sourceCodeLink {
  margin: 0;
}
.Overview-readme {
  padding-top: 1rem;
}
.Overview-readmeContainer {
  border: 0.0625rem solid var(--gray-8);
  border-radius: 0.5rem;
  height: 100%;
  padding: 1.625rem;
  padding-top: 0.5rem;
}
.Overview-readme img {
  max-width: 100%;
}
.Overview-readme pre {
  overflow-x: auto;
}
.Overview-readmeContent {
  overflow-wrap: break-word;
}
.Overview-readmeSource {
  color: var(--gray-3);
  font-size: 0.875rem;
  text-align: right;
  margin-top: 1.5rem;
  font-style: italic;
}

.DetailsNav {
  margin: 0 -1rem 0 -1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  mask-image: linear-gradient(
    90deg,
    transparent,
    #000 1.25rem,
    #000 calc(100% - 1.25rem),
    transparent
  );
  padding: 0 1rem;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #000 1.25rem,
    #000 calc(100% - 1.25rem),
    transparent
  );
  -webkit-overflow-scrolling: touch;
}
.DetailsNav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  border-bottom: 0.0625rem solid var(--gray-8);
}
.DetailsNav::-webkit-scrollbar {
  display: none;
}
.DetailsNav-tab {
  color: var(--gray-2);
  display: inline-block;
}
.DetailsNav-tab + .DetailsNav-tab {
  margin-left: 1rem;
}
.DetailsNav-tab.selected {
  border-bottom: 2px solid var(--turq-med);
  color: var(--gray-1);
  font-weight: bold;
}
.DetailsNav-tab:hover {
  border-bottom: 2px solid var(--purple);
}
.DetailsNav-tabDisabled,
.DetailsNav-tabDisabled:hover {
  border-bottom: 2px solid var(--white);
  color: var(--gray-5);
}
.DetailsNav-link,
.DetailsNav-link:link,
.DetailsNav-link:visited {
  display: inline-block;
  color: inherit;
  padding: 0.625rem 0.5rem;
}
.DetailsNav-link,
.DetailsNav-link:hover {
  text-decoration: none;
}

.Container {
  color: var(--gray-1);
  margin: 0 auto;
  max-width: 60em;
}
.Content {
  min-height: 500px;
}

.License-contents {
  background-color: var(--gray-10);
  border: 0.0625rem solid var(--gray-8);
  border-radius: 3px;
  font: 0.875rem/1.375rem 'Go Mono', 'Source Code Pro', monospace;
  margin: 0;
  overflow-x: auto;
  padding: 1.5rem;
  tab-size: 4;
}
.License-source {
  font-size: 0.875rem;
  color: var(--gray-3);
  padding-top: 0.5rem;
}
.Disclaimer-link {
  font-style: italic;
}

.Documentation {
  color: var(--gray-1);
}
.Documentation h2,
.Documentation h3 {
  font-size: 1.5rem;
}
.Documentation a {
  color: var(--turq-text);
  text-decoration: none;
}
.Documentation a:hover {
  text-decoration: underline;
}
.Documentation h2 a,
.Documentation h3 a,
.Documentation summary a {
  opacity: 0;
}
.Documentation a:focus {
  opacity: 1;
}
.Documentation h3 a.Documentation-source {
  opacity: 1;
}
.Documentation h2:hover a,
.Documentation h3:hover a,
.Documentation summary:hover a,
.Documentation summary:focus a {
  opacity: 1;
}
.Documentation ul {
  line-height: 1.5rem;
  list-style: none;
  padding-left: 0;
}
.Documentation ul ul {
  padding-left: 2em;
}
.Documentation code,
.Documentation pre {
  background-color: #f5f5f5;
  border-radius: 0.3em;
  border: 0.0625rem solid #ccc;
  font: 0.875rem/1.375rem 'Go Mono', 'Source Code Pro', monospace;
  margin: 0;
  overflow-x: auto;
  padding: 0.625rem;
  tab-size: 4;
  line-height: 1.25rem;
}
.Documentation pre + pre {
  margin-top: 0.625rem;
}
.Documentation pre .comment {
  color: #060;
}

.Documentation-overview,
.Documentation-index,
.Documentation-examples,
.Documentation-constants,
.Documentation-variables,
.Documentation-function,
.Documentation-type,
.Documentation-note {
  border-top: 0.0625rem solid var(--gray-8);
  padding-bottom: 1.5rem;
}
.Documentation-exampleDetails {
  margin-top: 1rem;
}
.Documentation-exampleDetailsHeader {
  color: var(--turq-text);
  text-decoration: none;
  outline: none;
  margin-bottom: 2rem;
}
.Documentation .Documentation-typeMethodHeader,
.Documentation .Documentation-typeFuncHeader {
  font-size: 1.25rem;
}
.Documentation .example-header {
  color: var(--turq-text);
  font-size: 1rem;
  outline: none;
  padding-top: 0.5rem;
  text-decoration: none;
}
.Documentation-build {
  text-align: right;
  border-top: 0.0625rem solid var(--gray-8);
  padding-top: 1rem;
}

.Versions-list {
  list-style: none;
  padding-left: 1rem;
}
.Versions-list li {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
  padding-left: 1rem;
}
.Versions-item {
  margin-left: 1rem;
}
.Versions-commitTime {
  color: var(--gray-3);
  font-weight: 400;
  font-size: 1rem;
}
.Versions-modulePath {
  color: var(--gray-3);
  font-size: 1rem;
  font-family: Roboto, Arial, sans-serif;
  font-weight: normal;
}
.Versions-separator {
  border-bottom: 0.0625rem solid var(--gray-8);
  margin: 2rem 0;
}

.Imports-list {
  list-style: none;
  padding: 0;
}
.Imports-heading {
  font-size: 1.125rem;
  line-height: 1.125rem;
}

.ImportedBy-list {
  list-style: none;
  padding: 0;
}
.ImportedBy .Pagination-nav,
.ImportedBy .Pagination-navInner {
  justify-content: flex-start;
}

.Error-gopher {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1.25rem 0;
  width: 240px;
}
.Error-message {
  text-align: center;
}

.EmptyContent-gopher {
  display: block;
  margin: auto;
  padding: 40px 0;
  width: 240px;
}
.EmptyContent-message {
  text-align: center;
}
.InfoLabel {
  font-size: .875rem;
  line-height: 1.375rem;
  margin: 0.5rem 0;
}
.InfoLabel-title {
  color: var(--gray-1);
}
.InfoLabel-divider {
  color: var(--gray-5);
  display: inline-block;
  margin: 0 0.625rem;
}

table.Directories {
  margin-top: 1.5rem;
  max-width: 800px;
}
.Directories td {
  padding: 0.75rem 0;
  border-bottom: 0.0625rem solid var(--gray-8);
  padding-right: 1rem;
}
.Directories th {
  text-align: left;
  border-bottom: 0.0625rem solid var(--gray-8);
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}
.Directory-header {
  margin-bottom: 2rem;
}

.Details-content {
  margin-left: 40px
}
.Details-indent {
  margin-left: 1.1rem
}

/* jump-to-identifier dialog on documentation page */

.JumpDialog {
  width: 25rem;
  padding: 0;
  border: 0.0625rem solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, .5);
}
.JumpDialog-title {
  font-size: 1.125rem;
  padding: 0 0.8rem;
}
.JumpDialog-body {
  height: 12rem;
  overflow-y: scroll;
  padding: 0 0 0 0.8rem;
}
.JumpDialog-list {
  display: flex;
  flex-direction: column;
}
.JumpDialog-filter {
  margin: 0.5rem 0.8rem;
}
.JumpDialog-input {
  width: 100%;
}
.JumpDialog a {
  text-decoration: none;
  padding: 0.25rem 0;
}
.JumpDialog .JumpDialog-active {
  color: var(--white);
  background-color: var(--turq-med);
}

.JumpDialog-actions {
  text-align: right;
  padding: 0.8rem;
}
.JumpDialog-button {
  background: none;
  border-radius: 0.625rem;
  border: 0.0625rem solid var(--gray-8);
  color: var(--turq-text);
  font-size: 1rem;
  max-width: 6.25rem;
  padding: 0.625rem;
  text-align: center;
}
