/*
	Copyright 2019 The Go Authors. All rights reserved.
	Use of this source code is governed by a BSD-style
	license that can be found in the LICENSE file.
*/

.GoLogo {
  padding: 10px;
}
.GlobalNav {
  display: flex;
  padding: 0;
  list-style: none;
}
.GlobalNav,
.ModulesNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}
.GlobalNav-link,
.ModulesNav-tab {
  float: left;
  display: flex;
  padding: 0 10px;
}
.ModulesNav-link {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 3px 16px 3px;
  text-decoration: none;
}
.ModulesNav-link:hover {
  background-color: #d6d2d1;
}
.ModulesNav-tab.active {
  background-color: #d6d2d1;
}
.DetailsHeader-packageName {
  text-decoration: none;
}
.OverviewContent,
.DocumentationContent,
.VersionsContent,
.LicensesContent,
.SearchContent,
.ModuleContent,
.HomeContent {
  font-family: Arial;
  color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
}
.OverviewContent-readMe,
.DocumentationContent-doc,
.VersionsContent-list,
.LicensesContent-licenses,
.ModuleContent-list,
.HomeContent-search,
.SearchContent-results {
  margin-top: 10px;
}
.SearchContent-header {
  font-size: 32px;
}
.OverviewContent,
.DocumentationContent,
.VersionsContent,
.LicensesContent,
.ModuleContent,
.SearchContent-results {
  margin: 0 200px;
}
.SearchSnippetContent {
  margin: 20px 0;
}
.SearchSnippetContent-packageName {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}
.SearchSnippetContent-packageName:hover,
.SearchSnippetContent-packageName:focus,
.DetailsHeader-packageName:hover,
.DetailsHeader-packageName:focus {
  text-decoration: underline;
}

.SearchSnippetContent-version {
  font-size: 20px;
  padding: 5px;
}
.SearchSnippetContent-commitTime {
  font-family: Menlo;
  margin: 15px 0;
  font-size: 14px;
}
.HomeContent-search {
  width: 100%;
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HomeContent-searchInput {
  width: 95%;
  height: 50px;
  font-size: 32px;
  padding-left: 15px;
}
.HomeContent-searchButton {
  height: 55px;
  width: 100px;
  font-size: 24px;
  margin-top: 15px;
}
.HomeContent-searchLabel {
  width: 500px;
  margin: 10px 0;
}
.ModuleContent-package{
  display: inline-flex;
  width: 45%;
  padding: 10px 0;
}
.ModuleContent-synopsis{
  display: inline-flex;
  width: 50%;
}
