/*!
 * Copyright 2020 The Go Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

.UnitReadme {
  margin-bottom: 2rem;
}
.UnitReadme h2 a.UnitReadme-idLink,
.UnitReadme summary a {
  opacity: 0;
}
.UnitReadme h2:hover a,
.UnitReadme summary:focus a {
  opacity: 1;
}
.UnitReadme-title {
  border-bottom: 0.0625rem solid var(--gray-8);
  font-size: 1.375rem;
  margin: 0.5rem 0 0 0;
  padding-bottom: 1rem;
}
.UnitReadme-title img {
  margin-right: 1rem;
  vertical-align: bottom;
}
.UnitReadme-content {
  max-height: 20rem;
  overflow: hidden;
  position: relative;
}
.UnitReadme-content ul {
  line-height: 1.5rem;
}
.UnitReadme-fadeOut {
  background-image: linear-gradient(to bottom, transparent, var(--white));
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 1.875rem 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.UnitReadme-expandLink {
  background: none;
  border: none;
  color: var(--turq-dark);
  cursor: pointer;
  padding: 0;
}
.UnitReadme-collapseLink {
  background: none;
  border: none;
  color: var(--turq-dark);
  cursor: pointer;
  display: none;
  padding: 0;
}
.UnitReadme--expanded .UnitReadme-content {
  max-height: initial;
  overflow: initial;
}
.UnitReadme--expanded .UnitReadme-fadeOut {
  display: none;
}
.UnitReadme--expanded .UnitReadme-expandLink {
  display: none;
}
.UnitReadme--expanded .UnitReadme-collapseLink {
  display: block;
}

.Overview-readmeContent {
  overflow-wrap: break-word;
}
