/*
 * Copyright 2020 The Go Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

.UnitFiles {
  margin-bottom: 2rem;
}
.UnitFiles::before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 3.5rem;
  margin-top: -3.5rem;
}
.UnitFiles-title {
  border-bottom: 0.0625rem solid var(--gray-8);
  display: flex;
  font-size: 1.375rem;
  margin: 0.5rem 0 0 0;
  padding-bottom: 1rem;
}
.UnitFiles-title img {
  height: 1.25rem;
  margin: auto 1rem auto 0;
  width: auto;
}
.UnitFiles-fileList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  line-height: 1.5rem;
  list-style: none;
  padding-left: 0;
}
.UnitFiles-file {
  margin-right: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.UnitFiles-file::before {
  content: url(/static/img/pkg-icon-file_16x12.svg);
  margin-right: 0.75rem;
}
