/*
 * Copyright 2020 The Go Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

.Documentation-index,
.DocNav,
.DocNav-index {
  display: block;
}
.DocNav {
  max-height: calc(100vh - var(--header-height));
  overflow-x: unset;
  overflow-y: unset;
  padding-top: 0.5rem;
  padding-left: unset;
  position: unset;
  top: unset;
}
@media only screen and (min-width: 52rem) {
  .DocNav [role='tree'],
  .DocNav [role='group'] {
    padding: 0;
  }
}

.UnitOutline {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}
a.UnitOutline-accordian {
  align-items: center;
  color: var(--gray-2);
  display: flex;
  font-size: 1.125rem;
  font-weight: 500;
  height: 2.5rem;
  padding: 1rem;
}
.UnitOutline-panel {
  padding: 0 18px;
  background-color: white;
  display: block;
  overflow-y: auto;
}
