/*
 * Copyright 2020 The Go Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

.UnitMeta {
  display: block;
  position: sticky;
  top: 5rem;
}
.UnitMeta a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.UnitMeta-header {
  font-weight: bold;
  margin: 1.125rem 0;
}
.UnitMeta-repo {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
