/*!
 * Copyright 2021 The Go Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

.go-Clipboard {
  position: relative;
}

.go-Clipboard::before {
  background-color: var(--color-background-inverted);
  border-radius: var(--border-radius);
  color: var(--color-text-inverted);
  content: attr(data-tooltip);
  display: block;
  font-size: 0.9em;
  left: calc(100% + 0.125rem);
  padding: 0.25rem 0.3rem;
  position: absolute;
  text-transform: uppercase;
  top: 0.125rem;
  white-space: nowrap;
  z-index: 1000;
}

.go-Clipboard::after {
  border-bottom: 0.25rem solid transparent;
  border-left: 0;
  border-right: 0.25rem solid var(--color-background-inverted);
  border-top: 0.25rem solid transparent;
  content: '';
  display: block;
  position: absolute;
  right: -0.125rem;
  top: 0.5625rem;
  z-index: 1000;
}

.go-Clipboard:not([data-tooltip])::before,
.go-Clipboard:not([data-tooltip])::after,
.go-Clipboard[data-tooltip='']::before,
.go-Clipboard[data-tooltip='']::after {
  display: none;
}
