/*
 * Copyright 2021 The Go Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

.ImportedBy-heading {
  margin-bottom: 1rem;
}

.ImportedBy-list {
  list-style: none;
  padding: 0;
}

.ImportedBy .Pagination-nav,
.ImportedBy .Pagination-navInner {
  justify-content: flex-start;
}

.ImportedBy-details {
  margin: 0.5rem 0;
}

.ImportedBy-detailsContent {
  margin-left: 2.5rem;
}

.ImportedBy-detailsIndent {
  margin-bottom: 0.5rem;
  margin-left: 1.1rem;
  margin-top: 0.5rem;
}
