<!--
  Copyright 2021 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "footer"}}
  <footer class="go-Footer">
    <div class="go-Footer-bottom">
      <img class="go-Footer-gopher"  width="1431" height="901"
          src="/static/shared/gopher/pilot-bust-1431x901.svg" alt="Gopher in flight goggles">
      <ul class="go-Footer-listRow">
        <li class="go-Footer-listItem">
          <button class="go-Button go-Button--text go-Footer-toggleTheme js-toggleTheme" aria-label="Toggle theme">
            <img data-value="auto" class="go-Icon go-Icon--inverted" height="24" width="24" src="/static/shared/icon/brightness_6_gm_grey_24dp.svg" alt="System theme">
            <img data-value="dark" class="go-Icon go-Icon--inverted" height="24" width="24" src="/static/shared/icon/brightness_2_gm_grey_24dp.svg" alt="Dark theme">
            <img data-value="light" class="go-Icon go-Icon--inverted" height="24" width="24" src="/static/shared/icon/light_mode_gm_grey_24dp.svg" alt="Light theme">
          </button>
          <button class="go-Button go-Button--text go-Footer-keyboard js-openShortcuts" aria-label="Open shorcuts modal">
            <img class="go-Icon go-Icon--inverted" height="24" width="24" src="/static/shared/icon/keyboard_grey_24dp.svg" alt="">
          </button>
        </li>
      </ul>
      <a class="go-Footer-googleLogo" href="https://torq.io" target="_blank"rel="noopener"
            data-gtmc="footer link">
            <img class="go-Footer-googleLogoImg" height="24" width="72"
                  src="/static/shared/logo/torq.svg" alt="Torq logo">
      </a>
    </div>
  </footer>
{{end}}
