<!--
  Copyright 2019 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Work+Sans:600|Roboto:400,700|Source+Code+Pro" rel="stylesheet">
<link href="/static/css/stylesheet.css?version={{.AppVersionLabel}}" rel="stylesheet">
<title>{{if .Title}}{{.Title}} · {{end}}Go Discovery</title>
<script nonce="{{.Nonce}}" src="https://support.google.com/inapp/api.js"></script>
<script nonce="{{.Nonce}}" src="/static/js/feedback.js?version={{.AppVersionLabel}}"></script>
<script nonce="{{.Nonce}}" defer src="/static/js/godoc.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script nonce="{{.Nonce}}" async src="https://www.googletagmanager.com/gtag/js?id={{.GoogleAnalyticsTrackingID}}"></script>
<script nonce="{{.Nonce}}">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{.GoogleAnalyticsTrackingID}}');
</script>
<body class="Site">
<header>
  {{block "header" .}}
    <div class="Header">
      <a class="Header-logo" href="/">
        <img class="Header-logoImg" src="/static/img/logo.svg" alt="Go Discovery">
      </a>
      <div class="Header-search">
        {{template "search" .}}
      </div>
      <button class="js-feedbackButton Header-feedbackButton">Send Feedback</button>
    </div>
  {{end}}
</header>
<main class="Site-content">{{block "main_content" .}}{{end}}</main>
<footer class="Site-footer">
  <div class="Footer">
    <img class="Footer-gopher" src="/static/img/gopher-footer.jpg" alt="The Go Gopher">
    <ul class="Footer-links">
      <li class="Footer-link"><a href="/copyright">Copyright</a></li>
      <li class="Footer-link"><a href="/tos">Terms of Service</a></li>
      <li class="Footer-link">
      	<a href="http://www.google.com/intl/en/policies/privacy/" target="_blank">Privacy Policy</a>
      </li>
      <li class="Footer-link"><a href="/advanced-search">Advanced Search</a></li>
      <li class="Footer-link">
        <button class="js-feedbackButton Footer-feedbackButton">
          <span class="Footer-link--long">Report a website issue or send feedback</span>
          <span class="Footer-link--short">Report issue</span>
        </button>
      </li>
    </ul>
    <a class="Footer-googleLogo" target="_blank" href="https://google.com">
      <img class="Footer-googleLogoImg" src="/static/img/google.svg" alt="Google logo">
    </a>
  </div>
</footer>
{{block "post_content" .}}{{end}}
