/*
 * Copyright 2021 The Go Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

.SearchHelp-list {
  line-height: 1.5rem;
  list-style: disc;
  padding-left: 1.5rem;
}
