<!--
  Copyright 2021 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "footer"}}
  <footer class="go-Footer">
    <div class="go-Footer-links">
      <div class="go-Footer-linkColumn">
        <a href="https://go.dev/solutions" class="go-Footer-link go-Footer-link--primary"
            data-gtmc="footer link">
          Why Go
        </a>
        <a href="https://go.dev/solutions#use-cases" class="go-Footer-link"
            data-gtmc="footer link">
          Use Cases
        </a>
        <a href="https://go.dev/solutions#case-studies" class="go-Footer-link"
            data-gtmc="footer link">
          Case Studies
        </a>
      </div>
      <div class="go-Footer-linkColumn">
        <a href="https://learn.go.dev/" class="go-Footer-link go-Footer-link--primary"
            data-gtmc="footer link">
          Getting Started
        </a>
        <a href="https://play.golang.org" class="go-Footer-link" data-gtmc="footer link">
          Playground
        </a>
        <a href="https://tour.golang.org" class="go-Footer-link" data-gtmc="footer link">
          Tour
        </a>
        <a href="https://stackoverflow.com/questions/tagged/go?tab=Newest" class="go-Footer-link"
            data-gtmc="footer link">
          Stack Overflow
        </a>
      </div>
      <div class="go-Footer-linkColumn">
        <a href="https://pkg.go.dev" class="go-Footer-link go-Footer-link--primary"
            data-gtmc="footer link">
          Discover Packages
        </a>
      </div>
      <div class="go-Footer-linkColumn">
        <a href="https://go.dev/about" class="go-Footer-link go-Footer-link--primary"
            data-gtmc="footer link">
          About
        </a>
        <a href="https://golang.org/dl/" class="go-Footer-link" data-gtmc="footer link">Download</a>
        <a href="https://blog.golang.org" class="go-Footer-link" data-gtmc="footer link">Blog</a>
        <a href="https://golang.org/doc/devel/release.html" class="go-Footer-link"
            data-gtmc="footer link">
          Release Notes
        </a>
        <a href="https://blog.golang.org/go-brand" class="go-Footer-link" data-gtmc="footer link">
          Brand Guidelines
        </a>
        <a href="https://golang.org/conduct" class="go-Footer-link" data-gtmc="footer link">
          Code of Conduct
        </a>
      </div>
      <div class="go-Footer-linkColumn">
        <a href="https://www.twitter.com/golang" class="go-Footer-link go-Footer-link--primary"
            data-gtmc="footer link">
          Connect
        </a>
        <a href="https://www.twitter.com/golang" class="go-Footer-link" data-gtmc="footer link">
          Twitter
        </a>
        <a href="https://github.com/golang" class="go-Footer-link" data-gtmc="footer link">GitHub</a>
        <a href="https://invite.slack.golangbridge.org/" class="go-Footer-link"
            data-gtmc="footer link">
          Slack
        </a>
        <a href="https://www.meetup.com/pro/go" class="go-Footer-link" data-gtmc="footer link">
          Meetup
        </a>
      </div>
    </div>
    <div class="go-Footer-bottom">
      <img class="go-Footer-gopher" height="150" width="238" src="/static/gopher/pilot-bust.svg"
          alt="Gopher in flight goggles">
      <ul class="go-Footer-listRow">
        <li class="go-Footer-listItem">
          <a href="https://go.dev/copyright" data-gtmc="footer link">Copyright</a>
        </li>
        <li class="go-Footer-listItem">
          <a href="https://go.dev/tos" data-gtmc="footer link">Terms of Service</a>
        </li>
        <li class="go-Footer-listItem">
          <a href="http://www.google.com/intl/en/policies/privacy/" data-gtmc="footer link"
              target="_blank" rel="noopener">
            Privacy Policy
          </a>
        </li>
        <li class="go-Footer-listItem">
          <a href="https://golang.org/s/pkgsite-feedback" target="_blank" rel="noopener"
              data-gtmc="footer link">
            Report an Issue
          </a>
        </li>
        <li class="go-Footer-listItem">
          <a href="https://golang.org" target="_blank" rel="noopener" data-gtmc="footer link">
            golang.org
          </a>
        </li>
      </ul>
      <a class="go-Footer-googleLogo" href="https://google.com" target="_blank"rel="noopener"
          data-gtmc="footer link">
        <img class="go-Footer-googleLogoImg" height="24" width="72"
            src="/static/logo/google-white.svg" alt="Google logo">
      </a>
    </div>
  </footer>
{{end}}